{% extends "base.html" %}
{% load i18n %}


{% block headtitle %}{% trans 'Password Reset' %}{% endblock %}


{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/account/">{% trans 'Account' %}</a></li>
<li><a href="/account/passwordreset/">{% trans 'Password Reset' %}</a></li>
{% endblock %}


{% block main_content %}

<h1 class="pagetitle">{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form class="signupform" action="/account/passwordreset/" method="post">
    {% csrf_token %}
    
    {% if form.errors %}
    <p class="error">{{ form.non_field_errors }}</p>
    {% endif %} 
  
    <span class="label">{{form.email.label_tag}} {{form.email.errors}}</span> 
    {{ form.email }}
    <span class="label">{{form.captcha.label_tag}} {{form.captcha.errors}}</span> 
    {{ form.captcha }}

    <input type="submit" value="{% trans 'Reset my password' %}" />
</form>

{% endblock %}
