{% extends "base.html" %}


{% block headtitle %}Password Change{% endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/account/">Account</a></li>
<li><a href="/account/passwordchange/">Password Change</a></li>
{% endblock %}

{% block main_content %}

{% block pagetitle %}Password Change{% endblock %}

<form action="/account/passwordchange/" method="post" class="loginform">
{% csrf_token %}
        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

  {% if form.errors %}
  <p class="error">{{ form.non_field_errors }}</p>
  {% endif %} 

        <fieldset>
            <span class="label">{{ form.old_password.label_tag }}{{ form.old_password.errors }}</span>
            {{ form.old_password }}
            <span class="label">{{ form.new_password1.label_tag }}{{ form.new_password1.errors }}</span>
            {{ form.new_password1 }}
            <span class="label">{{ form.new_password2.label_tag }}{{ form.new_password2.errors }}</span>
            {{ form.new_password2 }}
            
            <input type="submit" name="cmdweblogin" class="button" value="Change my password" />
        </fieldset>

        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>

{% endblock %}
