{% extends "base.html" %}
{% load i18n %}


{% block headtitle %}{% trans 'Password Reset' %}{% endblock %}


{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/account">{% trans 'Account' %}</a></li>
<li><a href="/account/passwordreset">{% trans 'Password Reset' %}</a></li>
{% endblock %}

{% block main_content %}

<h1 class="pagetitle">{% trans 'Password reset successful' %}</h1>

<p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>

{% endblock %}
