{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<body>
	<p>{% trans 'Hello' %} {{ user_name }},</p>
	
	<p>{% trans 'The following API Keys are invalid' %}:</p>
	<ul>
	{% for api in invalid_apis %}<li>{{ api.keyID }}: {{ api.error }}</li>
	{% endfor %}</ul>
	
	<p>{% trans 'All the characters from the accounts related to these API Keys are not associated with your profile anymore. 
	Please log-in to' %} <a href="http{% if use_https %}s{% endif %}://{{ host_name }}/">http{% if use_https %}s{% endif %}://{{ host_name }}/</a>{% trans ' and make sure that these API Keys are valid' %}.</p>
	
	<p><i>{% trans 'NB: If you don't own the accounts related to these API Keys anymore, 
	you can delete them from your profile to stop receiving these e-mails.' %}</i></p>

	<p>{% trans 'Thank you in advance' %},</p>
	
	<p><i>{{ corp_name }}</i></p>
</body>

</html>
