{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<body>
{% blocktrans %}
<p>Hello,</p>

<p>
Version <b>{{new_version}}</b> of <i>Eve Corp. Management is available.</i> 
Please check the
<a href="http://eve-corp-management.org/projects/ecm/news">news page</a>
for more information about what has changed.
</p>

<p>
In order to update your installation at
{% endblocktrans %}
<a href="http{% if use_https %}s{% endif %}://{{ host_name }}/">http{% if use_https %}s{% endif %}://{{ host_name }}/</a>
{% blocktrans %}
(version {{old_version}}), please follow the
<a href="http://eve-corp-management.org/projects/ecm/wiki/InstallationInstructions#How-to-upgrade-an-existing-installation">upgrade instructions</a>
</p>

<p>Thank you for using ECM and fly safe :)</p>

<p><i>--the development team</i></p>
{% endblocktrans %}
</body>
</html>
