include README
include AUTHORS
include LICENSE
include MANIFEST.in
graft extras
graft scripts
graft ecm
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.old
global-exclude *.db
global-exclude *.log
