include README.md
include AUTHORS
include LICENSE
include MANIFEST.in
graft ecm
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.old
global-exclude *.db
global-exclude *.log
global-exclude *.orig
