<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<!--  EVE Corporation Management     -->
<!--  Date:    May 14, 2010       -->
<!--  Author:  diabeteman         -->

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="3600" />
  <meta name="revisit-after" content="2 days" />
  <meta name="author" content="diabeteman" />

  <title>ECM - {% block headtitle %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="/s/ecm/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="/s/ecm/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/s/ecm/css/footer.css" />
  <link rel="stylesheet" type="text/css" href="/s/ecm/css/breadcrumbs.css" />
  <link rel="stylesheet" type="text/css" href="/s/ecm/css/menu.css" />
  <link rel="stylesheet" type="text/css" href="/s/ecm/css/text.css" />
  <link rel="stylesheet" type="text/css" href="/s/ecm/css/classes.css" />
  <link rel="stylesheet" type="text/css" href="/s/ecm/css/tables.css" />
  <link rel="stylesheet" type="text/css" href="/s/ecm/css/forms.css" />

  <link rel="icon" type="image/png" href="/s/ecm/img/favicon.png" />
  <link rel="shortcut icon" type="image/png" href="/s/ecm/img/favicon.png" />

  <script type="text/javascript" src="/s/ecm/js/lib/jquery.js"></script>
  <script type="text/javascript" src="/s/ecm/js/csrf.js"></script>
  <script type="text/javascript" src="/s/ecm/js/ecm_lib.js"></script>

{% block header_scripts %}{% endblock %}
{% block other_scripts %}{% endblock %}
</head>

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->
<body>
  <!-- Main Page Container -->
  <div class="page-container">

    <!-- begin HEADER -->
    <div class="header">

      <!-- Sitelogo and sitename -->
      <a class="sitelogo" href="/" title="Go to Start page"></a>
      <div class="sitename">
        <h1><a href="/" title="Go to Start page">{{ corp_name }}</a></h1>
        <h2>EVE Corporation Management</h2>
      </div>

      <!-- logged user -->
      <div class="logged_user">
          {% if user.is_authenticated %}Logged in as <b>{{ user.username }}</b>
          {% else %}Please log in.
          {% endif %}
      </div>

      <!-- header links -->
      <div class="header-links">
        <ul>
          {% if user.is_authenticated %}
          <li><a href="/account/" >User Profile</a></li>
          <li><a href="/account/logout/" title="Log out from ECM">Logout</a></li>
          {% else %}
          <li><a href="/account/create/" >Create Account</a></li>
          <li><a href="/account/login?next=/account" >Login</a></li>
          {% endif %}
          {% if user.is_staff and user.is_superuser %}
          <li><a href="/admin/" title="Restricted area :-)">Administration</a></li>
          {% endif %}
        </ul>
      </div>

    </div> <!-- end HEADER -->

    <!-- B. MAIN -->
    <table class="main">
      <tr>

        <!-- MENU -->
        {% if user.is_authenticated %}
        <td class="menu">
          {{ user_menu|safe }}
        </td>
        {% endif %}

        <!-- MAIN CONTENT -->
        <td class="page-content">

          <!-- Breadcrumbs -->
          <div class="breadcrumbs">
            <ul>
              {% block breadcrumbs %}
              {# insert a list of breadcrumbs here #}
              {% endblock %}
            </ul>
          </div>

          <div class="content">
          {% block main_content %}
          {# main page content here #}
          {% endblock %}
          </div>
        </td>
      </tr>
    </table>

    <!-- C. FOOTER AREA -->

    <div class="footer">
      <p>version {{ecm_version}} | Copyright &copy; 2010-2011 diabeteman | All Rights Reserved</p>
      <p class="credits"><a href="http://code.google.com/p/eve-corp-management/">Project on google code</a> | Powered by <a href="http://www.python.org/">Python</a> and <a href="http://www.djangoproject.com/">Django</a></p>
    </div>
  </div>

</body>
</html>


