<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<body>
	<p>Hello {{ user_name }},</p>
	
	<p>The following API Keys are invalid:</p>
	<ul>
	{% for api in invalid_apis %}<li>{{ api.keyID }}: {{ api.error }}</li>
	{% endfor %}</ul>
	
	<p>All the characters from the accounts related to these API Keys are not associated with your profile anymore. 
	Please log-in to <a href="http://{{ site }}">http://{{ site }}</a> and make sure that these API Keys are valid.</p>
	
	<p><i>NB: If you don't own the accounts related to these API Keys anymore, 
	you can delete them from your profile to stop receiving these e-mails.</i></p>

	<p>Thank you in advance,</p>
	
	<p><i>{{ corp_name }}</i></p>
</body>

</html>