{% extends "ecm/hr/hr_base.html" %}
{% load i18n %}
{% block headtitle %}{% trans 'Player List' %}{% endblock %}


{% block main_content %}
<div class="page-header">
<h1>{% trans 'Player List' %}</h1>
</div>

<form id="search_form" class="form-search form-inline">
  <div class="btn-toolbar" >
    <input type="text" id="search_text" class="input-medium search-query" value="" placeholder="{% trans 'Search' %}"/>
    <div class="btn-group">
      <a class="btn btn-small" id="search_button"><i class="icon-search"></i>{% trans 'Search' %}</a>
      <a class="btn btn-small" id="clear_search">{% trans 'Reset' %}</a>
    </div>
  </div>
</form>


{% datatable 'players_table' player_columns 
             css_class='table table-bordered table-condensed searchable_table' 
             defaults=datatables_defaults 
             sAjaxSource='/hr/players/data/' 
             sCookiePrefix='ecm_players_table_' 
             fnRowCallback='playersRowCallback' %}

{% endblock %}


{% block post_javascripts %}
<script type="text/javascript">
{% include "ecm/hr/search_form.js" %}

function playersRowCallback( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
    var admin = aData[1];
    if (admin) {
        $('td:eq(1)', nRow).html('<img src="/static/admin/img/icon-yes.gif" alt="True">');
    } else {
        $('td:eq(1)', nRow).html('<img src="/static/admin/img/icon-no.gif" alt="False">');
    }
    return nRow;
}

</script>
{% endblock %}
