{% extends "ecm/hr/hr_base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block headtitle %}{% trans 'Player Details' %} - {{ player.username }}{% endblock %}



{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/hr/">{% trans 'Human Resources' %}</a></li>
<li><a href="/hr/players/">{% trans 'Players' %}</a></li>
<li class="active"><a href="/hr/players/{{ player.id }}/">{{ player.username }}</a></li>
{% endblock %}



{% block main_content %}
<div class="page-header">
  <h1 class="pagetitle">Player &quot;{{player.username}}&quot;</h1>
</div>
{% if player.is_staff and player.is_superuser %}<h1 class="pagetitle error">{% trans 'ECM Administrator' %}</h1>{% endif %}

<h2>Player Details</h2>

<p><b>{% trans 'Account created' %}:</b> {{player.date_joined|date:"Y F d - H:i"}}</p>
<p><b>{% trans 'Last login in ECM' %}:</b> {{player.last_login|date:"Y F d - H:i"}}</p>
<p><b>{% trans 'Owned EVE Accounts' %}:</b> {{eve_accounts}}</p>
<p><b>{% trans 'Owned Characters' %}:</b> {{characters}}</p>

<h2>Groups</h2>

<ul>
{% for g in groups %}
  <li>{{ g }}</li>
{% empty %}
  <p>{% trans 'None' %}</p>
{% endfor %}
</ul>

<h2>Owned Characters</h2>

<form id="search_form" class="form-search form-inline">
  <div class="btn-toolbar" >
    <i class="icon-search"></i>
    <input type="text" id="search_text" class="input-medium search-query" value="" />
    <div class="btn-group">
      <button class="btn btn-small" type="submit" id="search_button">{% trans 'Search' %}</button>
      <button class="btn btn-small" id="clear_search">{% trans 'Reset' %}</button>
    </div>
  </div>
</form>

<table class="table table-bordered table-condensed" id="members_table">
  <thead>
    <tr>
      <th class="top" scope="col" >{% trans 'Name' %}</th>
      <th class="top" scope="col" >{% trans 'Nickname' %}</th>
      <th class="top" scope="col" >{% trans 'Player' %}</th>
      <th class="top" scope="col" >{% trans 'Access Level' %}</th>
      <th class="top" scope="col" >{% trans 'Last Login' %}</th>
      <th class="top" scope="col" >{% trans 'Location' %}</th>
      <th class="top" scope="col" >{% trans 'Ships' %}</th>
      <th class="top" scope="col" style="display:none;">{% trans 'Titles' %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="8" class="dataTables_empty">{% trans 'Loading data from server...' %}</td>
    </tr>
  </tbody>
</table>

{% endblock %}


{% block javascripts %}
<script type="text/javascript">
DIRECTOR_ACCESS_LVL = {{ directorAccessLvl }};
COLOR_THRESHOLDS = {{ colorThresholds|safe }};
AJAX_URL = '/hr/players/{{player.id}}/data/';
COOKIE_NAME = 'ecm_player_characters_table_';
</script>
{% endblock %}

{% block compressed_javascripts %}
<script type="text/javascript" src="{% static 'hr/js/members_table.js' %}"></script>
{% endblock %}
