{% extends "ecm/hr/hr_base.html" %}
{% load i18n %}
{% block headtitle %}{% trans 'Player List' %}{% endblock %}

{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/hr/">{% trans 'Human Resources' %}</a></li>
<li class="active"><a href="/hr/players/">{% trans 'Player List' %}</a></li>
{% endblock %}

{% block main_content %}
<div class="page-header">
<h1>{% trans 'Player List' %}</h1>
</div>

<form id="search_form" class="form-search form-inline">
  <div class="btn-toolbar" >
    <input type="text" id="search_text" class="input-medium search-query" value="" placeholder="Search"/>
    <div class="btn-group">
      <a class="btn btn-small" id="search_button"><i class="icon-search"></i>{% trans 'Search' %}</a>
      <a class="btn btn-small" id="clear_search">{% trans 'Reset' %}</a>
    </div>
  </div>
</form>


{% datatable 'players_table' player_columns 
             css_class='table table-bordered table-condensed' 
             defaults=datatables_defaults 
             sAjaxSource='/hr/players/data/' 
             sCookiePrefix='ecm_players_table_' 
             fnRowCallback='playersRowCallback' %}

{% endblock %}


{% block post_javascripts %}
<script type="text/javascript">
{% include "ecm/hr/players_datatable.js" %}
</script>
{% endblock %}
