# vim: set filetype=apache:

<VirtualHost *:80>

    DocumentRoot /srv/eve-corp-management
    ServerName ecm.yourdomain.com

    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>

    ProxyPass /static/ !
    ProxyPass / http://localhost:8000/

    <Directory /srv/eve-corp-management>
        Order deny,allow
        Allow from all
        Options -Indexes
    </Directory>

</VirtualHost>

