# vim: set filetype=apache:

<VirtualHost *:80>

    DocumentRoot "%(instance_dir)s"
    ServerName %(host_name)s

    WSGIScriptAlias / "%(instance_dir)s/apache/apache_mod_wsgi.py"
    WSGIDaemonProcess mod_wsgi_ecm processes=1 threads=25
    WSGIProcessGroup mod_wsgi_ecm
    WSGIPassAuthorization On

    <Directory "%(instance_dir)s/apache">
        Order deny,allow
        Allow from all
        Options -Indexes
    </Directory>

    <Directory "%(instance_dir)s/static">
        Order deny,allow
        Allow from all
        Options -Indexes
    </Directory>

</VirtualHost>

