{% extends "base.html" %}
{% load i18n %}

{% block headtitle %}{% trans 'Enter a Director API Key' %}{% endblock %}

{% block main_content %}
<div class="page-header">
    <h1>{% trans 'Enter a Director API Key' %}</h1>
</div>

<form method="post" action="{{ request_path }}" class="form-inline">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {{ form.non_field_errors }}<br>

    {{ form.keyID.label_tag }}{{ form.keyID.errors }}<br>
    {{ form.keyID }}<br>
    {{ form.vCode.label_tag }}{{ form.vCode.errors }}<br>
    {{ form.vCode }}<br>

    <br>
    <button type="submit" class="btn btn-primary">{% trans 'Submit Information' %}</button>
</form>
{% endblock %}
