{% extends "base.html" %}
{% load i18n %}
{% block headtitle %}{% trans 'Edit MOTD' %}{% endblock %}

{% block main_content %}
<div class="page-header">
    <h1>Edit the <em>Message Of The Day</em></h1>
</div>

<form class="well form-horizontal" method="post">
	{% csrf_token %}
	
	<label>{% trans 'MOTD Text' %}</label>
	<textarea rows="10" class="span5 code" name="message">{{motd.message}}</textarea>
	<br>
	<label>{% trans 'Select Markup' %}</label>
	<select name="markup">
		{% for markup_id, markup in markups.items %}
		<option value="{{markup_id}}" {% if motd.markup = markup_id %}selected="selected"{% endif %}>{{markup}}</option>
		{% endfor %}
	</select>
	<button type="submit" class="btn btn-primary">{% trans 'Save Changes' %}</button>
</form>

{% endblock %}
