{% extends "base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block headtitle %}{% trans 'Standings' %}{% endblock %}

{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li>{% trans 'Standings' %}</li>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'ecm/css/standings.css' %}" />
{% endblock %}

{% block main_content %}
<div class="row-fluid">
	{% if standings_public == 'alliance' or standings_public == 'both' or user.is_superuser %}
	<div class="span6">
	    <h2>Alliance Standings</h2>
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>{% trans 'Entity' %}</th><th class="center">{% trans 'Standing' %}</th>
				</tr>
			</thead>
			<tbody>
				{% for contact in allaince_standings %}
				<tr class="standing-row_{{contact.standing}}">
					<td><a href="http://evewho.com/search/{{contact.contactName}}">{{contact.contactName}}</a></td>
					<td class="standing-cell_{{contact.standing}} center">{{contact.standing}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
	{% if standings_public == 'corporation' or standings_public == 'both' or user.is_superuser %}
	<div class="span6">
	    <h2>Corporation Standings</h2>
		<table class="table table-bordered table-condensed">
			<thead>
				<tr>
					<th>{% trans 'Entity' %}</th><th class="center">{% trans 'Standing' %}</th>
				</tr>
			</thead>
			<tbody>
				{% for contact in corp_standings %}
				<tr class="standing-row_{{contact.standing}}">
					<td><a href="http://evewho.com/search/{{contact.contactName}}">{{contact.contactName}}</a></td>
					<td class="standing-cell_{{contact.standing}} center">{{contact.standing}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
</div>

{% if standings_public == 'none' or standings_public == '\'none\''%}
<h2>Standings are set to Private.</h2>
{% endif %}

{% if user.is_superuser %}
<h2>Set Public settings</h2>
<div class="row">
    <div class="span4">
        <form class="well form-inline" action='/standings/' method="post">
            {% csrf_token %}
            <select name="standings_public">
                <option value="none" {% if not standings_public %}selected="selected"{% endif %}>{% trans 'None' %}</option>
                <option value="alliance" {% if standings_public == 'alliance' %}selected="selected"{% endif %}>{% trans 'Alliance' %}</option>
                <option value="corporation"{% if standings_public == 'corporation' %}selected="selected"{% endif %}>{% trans 'Corp' %}</option>
                <option value="both"{% if standings_public == 'both' %}selected="selected"{% endif %}>{% trans 'Both' %}</option>
            </select>
            <button type="submit" class="btn">{% trans 'Set Access' %}</button>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}
