{% extends "base.html" %}

{% block headtitle %}Titles{% endblock %}



{% block header_scripts %}
<script type="text/javascript" src="/m/js/lib/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/m/css/jquery.dataTables.css" />


<script type="text/javascript">
COLOR_THRESHOLDS = {{ colorThresholds|safe }};
</script>
<script type="text/javascript" src="/m/js/titles_table.js"></script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/titles">Titles</a></li>
{% endblock %}

{% block main_content %}
<h1 class="pagetitle">Corporation Titles <span class="time">- last change {{ scan_date|ecm_datetime }}</span></h1>



<table class="table display" id="titles_table">
  <thead>
    <tr>
      <th class="top" scope="col" >Title Name</th>
      <th class="top" scope="col" >Access Level</th>
      <th class="top" scope="col" >Members</th>
      <th class="top" scope="col" >Role Count</th>
      <th class="top" scope="col" >Last Modified</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="dataTables_empty">Loading data from server...</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Title Name</th>
      <th>Access Level</th>
      <th>Members</th>
      <th>Role Count</th>
      <th>Last Modified</th>
    </tr>
  </tfoot>
</table>


{% endblock %}
