{% extends "ecm/hr/hr_base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block headtitle %}{% trans 'Members History' %}{% endblock %}

{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/hr/">{% trans 'Human Resources' %}</a></li>
<li><a href="/hr/members/">{% trans 'Members' %}</a></li>
<li class="active"><a href="/hr/members/access_changes/">{% trans 'Security Access Changes' %}</a></li>
{% endblock %}

{% block main_content %}
<div class="page-header">
  <h1>{% trans 'Security Access Changes' %} <small>{% trans 'last update' %} {{ scan_date|ecm_datetime }}</small></h1>
</div>

<form id="search_form" class="form-search form-inline">
  <div class="btn-toolbar" >
    <input type="text" id="search_text" class="input-medium search-query" value="" />
    <div class="btn-group">
      <a class="btn btn-small" id="search_button"><i class="icon-search"></i>{% trans 'Search' %}</a>
      <a class="btn btn-small" id="clear_search">{% trans 'Reset' %}</a>
    </div>
  </div>
</form>

<table class="table table-bordered table-condensed" id="access_changes_table">
  <thead>
    <tr>
      <th class="top" scope="col" >{% trans 'Change' %}</th>
      <th class="top" scope="col" >{% trans 'Member' %}</th>
      <th class="top" scope="col" >{% trans 'Title/Role' %}</th>
      <th class="top" scope="col" >{% trans 'Date' %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3" class="dataTables_empty">{% trans 'Loading data from server...' %}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>{% trans 'Change' %}</th>
      <th>{% trans 'Member' %}</th>
      <th>{% trans 'Title/Role' %}</th>
      <th>{% trans 'Date' %}</th>
    </tr>
  </tfoot>
</table>
{% endblock %}


{% block post_javascripts %}
<script type="text/javascript">
$(document).ready(function() {
    var table = $('#access_changes_table').dataTable($.extend(true, {}, DATATABLE_DEFAULTS, {
        sCookiePrefix: 'ecm_access_changes_table_',
        sAjaxSource : '/hr/members/accesschanges/data/',
        aoColumns : [
            { sTitle: 'Change',     sWidth: '10%', sType: 'html' ,  bSortable: false },
            { sTitle: 'Member',     sWidth: '30%', sType: 'html'  },
            { sTitle: 'Title/Role', sWidth: '40%', sType: 'html' ,  bSortable: false },
            { sTitle: 'Date',       sWidth: '20%', sType: 'string' }
        ],
        aaSorting: [[3, 'desc']],
        fnRowCallback : function(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            if (aData[0]) {
                $('td:eq(0)', nRow).html('<img src="{% static 'ecm/img/plus.png' %}"></img>');
            } else {
                $('td:eq(0)', nRow).html('<img src="{% static 'ecm/img/minus.png' %}"></img>');
            }
            return nRow;
        }
    }));

    $('#search_form').submit(function(event) {
        event.preventDefault();
        table.fnFilter($('#search_text').val());
    });

    $('#search_button').click(function() {
        table.fnFilter($('#search_text').val());
    });

    $('#clear_search').click(function() {
        $('#search_text').val('');
        table.fnFilter('');
    });
    
    // disable multi column sorting
    $('#history_table thead th').click(function(event) {
        if (!$(event.target).hasClass('sorthandle')) {
            event.shiftKey = false;
        }
    });

});
</script>
{% endblock %}
