{% extends "ecm/hr/hr_base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block headtitle %}{% trans 'Members History' %}{% endblock %}

{% block main_content %}
<div class="page-header">
  <h1>{% trans 'Security Access Changes' %} <small>{% trans 'last update' %} {{ scan_date|ecm_datetime }}</small></h1>
</div>

<form id="search_form" class="form-search form-inline">
  <div class="btn-toolbar" >
    <input type="text" id="search_text" class="input-medium search-query" value="" />
    <div class="btn-group">
      <button class="btn btn-small" type="submit" id="search_button">{% trans 'Search' %}</button>
      <button class="btn btn-small" id="clear_search">{% trans 'Reset' %}</button>
    </div>
  </div>
</form>
{% datatable 'access_changes_columns' columns
            css_class='table table-bordered table-condensed searchable_table'
            defaults=datatable_defaults
            aaSorting=sorting 
            sAjaxSource='/hr/members/accesschanges/data/'
            sCookiePrefix='ecm_access_changes_table_'
            fnRowCallback='membersAccessRowCallback' %}
{% endblock %}


{% block post_javascripts %}
<script type="text/javascript">
DIRECTOR_ACCESS_LVL = {{ directorAccessLvl }};
COLOR_THRESTHOLDS = {{ colorThresholds|safe }};
function membersAccessRowCallback(nRow, aData, iDisplayIndex, iDisplayIndexFull) {
    if (aData[0]) {
        $('td:eq(0)', nRow).html('<img src="{% static 'ecm/img/plus.png' %}"></img>');
    } else {
        $('td:eq(0)', nRow).html('<img src="{% static 'ecm/img/minus.png' %}"></img>');
    }
    return nRow;
}
{% include "ecm/hr/search_form.js" %}
</script>
{% endblock %}
