{% extends "ecm/hr/hr_base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block headtitle %}{% trans 'Members History' %}{% endblock %}



{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/hr/">{% trans 'Human Resources' %}</a></li>
<li><a href="/hr/members/">{% trans 'Members' %}</a></li>
<li class="active"><a href="/hr/members/history/">{% trans 'History' %}</a></li>
{% endblock %}


{% block main_content %}
<div class="page-header">
  <h1>Members History <small>last update {{ scan_date|ecm_datetime }}</small></h1>
</div>

<form id="search_form" class="form-search form-inline">
  <div class="btn-toolbar" >
    <input type="text" id="search_text" class="input-medium search-query" value="" />
    <div class="btn-group">
      <a class="btn btn-small" id="search_button"><i class="icon-search"></i>{% trans 'Search' %}</a>
      <a class="btn btn-small" id="clear_search">{% trans 'Reset' %}</a>
    </div>
  </div>
</form>

{% datatable 'history_table' columns 
             css_class='table table-bordered table-condensed' 
             defaults=datatables_defaults 
             sAjaxSource=ajax_url 
             sCookiePrefix='ecm_history_table_' 
             fnRowCallback='rowCallback' %}

<script type="text/javascript">
function rowCallback( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
    if (aData[0]) {
        $('td:eq(0)', nRow).html('<img src="{% static 'ecm/img/plus.png' %}"/>');
    } else {
        $('td:eq(0)', nRow).html('<img src="{% static 'ecm/img/minus.png' %}"/>');
    }
    return nRow;
}

{% include "ecm/hr/search_form.js" %}
</script>
{% endblock %}
