{% extends "ecm/hr/hr_base.html" %}
{% load i18n %}
{% block headtitle %}{% trans 'Members History' %}{% endblock %}



{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/hr/">{% trans 'Human Resources' %}</a></li>
<li><a href="/hr/members/">{% trans 'Members' %}</a></li>
<li class="active"><a href="/hr/members/history/">{% trans 'History' %}</a></li>
{% endblock %}


{% block main_content %}
<div class="page-header">
  <h1>Members History <small>last update {{ scan_date|ecm_datetime }}</small></h1>
</div>

<form id="search_form" class="form-search form-inline">
  <div class="btn-toolbar" >
    <input type="text" id="search_text" class="input-medium search-query" value="" />
    <div class="btn-group">
      <a class="btn btn-small" id="search_button"><i class="icon-search"></i>{% trans 'Search' %}</a>
      <a class="btn btn-small" id="clear_search">{% trans 'Reset' %}</a>
    </div>
  </div>
</form>

<table class="table table-bordered table-condensed" id="history_table">
  <thead>
    <tr>
      <th class="top" scope="col" >{% trans 'Corped/Leaved' %}</th>
      <th class="top" scope="col" >{% trans 'Name' %}</th>
      <th class="top" scope="col" >{% trans 'Nickname' %}</th>
      <th class="top" scope="col" >{% trans 'Date' %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4" class="dataTables_empty">{% trans 'Loading data from server...' %}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>{% trans 'Corped/Leaved' %}</th>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Nickname' %}</th>
      <th>{% trans 'Date' %}</th>
    </tr>
  </tfoot>
</table>
{% endblock %}


{% block compressed_javascripts %}
<script type="text/javascript">
// dataTable setup
$(document).ready(function() {
  var table = $('#history_table').dataTable($.extend(true, {}, DATATABLE_DEFAULTS, {
        sCookiePrefix: "ecm_history_table_",
        sAjaxSource: "/hr/members/history/data/",
        aoColumns: [
            { sTitle: "Corped/Leaved",sWidth: "15%", sType: "html" ,  bSortable: false },
            { sTitle: "Name",         sWidth: "30%", sType: "html" },
            { sTitle: "Nickname",     sWidth: "30%", sType: "string" },
            { sTitle: "Corp/Leave Date",    sWidth: "25%", sType: "string" }
        ],
        aaSorting: [[3, 'desc']],
        fnRowCallback: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            if (aData[0]) {
                $('td:eq(0)', nRow).html('<img src="{{ STATIC_URL }}ecm/img/plus.png"/>');
            } else {
                $('td:eq(0)', nRow).html('<img src="{{ STATIC_URL }}ecm/img/minus.png"/>');
            }
            return nRow;
        }
    }));

    $("#search_form").submit(function(event) {
        event.preventDefault();
        table.fnFilter($("#search_text").val());
    });

    $("#search_button").click(function() {
        table.fnFilter($("#search_text").val());
    });

    $("#clear_search").click(function() {
        $("#search_text").val("");
        table.fnFilter("");
    });

    $('#history_table thead th').click(function(event) {
        if (!$(event.target).hasClass('sorthandle')) {
            event.shiftKey = false;
        }
    });
    
} );
</script>
{% endblock %}
