{% extends "ecm/hr/hr_base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block headtitle %}{% trans 'Member Skills' %}{% endblock %}

{% block hr_stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'ecm/css/jquery.autocomplete.css' %}" />
<style type="text/css">
#eft-modal, #lifecycle-modal, .throbber, #error-box, #warning-box {display: none;}
.btn-group.center > .btn {
    float: inherit;
}
</style>
{% endblock %}


{% block main_content %}
<div class="page-header">
  <h1>
    {% trans 'Member Skills' %}
    <small class="pull-right">
      <select class="error" id="corp_selector">
        <option value="{{my_corp.corporationID}}" class="bold">{{my_corp}}</option>
        <option value="all" class="italic">{% trans 'All' %}</option>
        {% if trusted_corps %}
        <optgroup label="Trusted Corps">{% for corp in trusted_corps %}
          <option value="{{corp.corporationID}}">{{corp}}</option>{% endfor %}
        </optgroup>
        {% endif %}
        {% if other_corps %}
        <optgroup label="Other Corps">{% for corp in other_corps %}
          <option value="{{corp.corporationID}}">{{corp}}</option>{% endfor %}
        </optgroup>
        {% endif %}
      </select>
    </small>
  </h1>
</div>

<form class="well form-inline" id="search_form" title="{% trans 'Please select a ship, skill or module to add it to the filter.' %}">
    <input type="text" id="search_box" placeholder="{% trans 'Start typing to search items...' %}"/>
    <button type="submit" class="btn btn-small"><i class="icon-plus"> </i>{% trans 'Add item to filter' %}</button>
    <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#eft-modal" ><i class="icon-plane icon-white"> </i>{% trans 'Import EFT Fitting' %}</a>


<div class="alert alert-error" id="error-box">
    <a class="close">&times;</a>
    <span id="error-text"></span>
</div>

<div class="alert" id="warning-box">
    <a class="close">&times;</a>
    <span id="warning-text"></span>
</div>

<img id="throbber-eft" class="throbber" src="{% static 'ecm/img/throbber.gif' %}" alt="{% trans 'Loading...' %}" title="{% trans 'Loading...' %}"/>

{% csrf_token %}
  <table class="table table-striped table-condensed table-centered">
    <thead>
      <tr>
        <th>{% trans 'Icon' %}</th>
        <th>{% trans 'Item' %}</th>
        <th>{% trans 'Level' %}</th>
        <th width="20%">{% trans 'Remove' %}</th>
      </tr>
    </thead>
    <tbody id="items">
      <tr id="empty">
          <td colspan="4" class="order_cart_empty" >{% trans 'Your filter list is empty.' %}</td>
      </tr>
    </tbody>
  </table>

</form>

{% datatable 'members_table' columns 
             css_class='table table-bordered table-condensed searchable_table' 
             defaults=datatables_defaults 
             sAjaxSource=ajax_url 
             sCookiePrefix='ecm_members_table_' 
             fnRowCallback='membersRowCallback' 
             fnServerParams='membersSkillsServerParams'
             fnStateSaveParams='membersStateSaveParams' 
             fnStateLoadParams='membersStateLoadParams' %}

<script type="text/javascript">
DIRECTOR_ACCESS_LVL = {{ directorAccessLvl }};
COLOR_THRESHOLDS = {{ colorThresholds|safe }};

{% include "ecm/hr/members_datatable.js" %}

function membersSkillsServerParams( aoData ) {
    /* Add some extra variables to the url */
    aoData.push({
        name: "skills",
        value: $.toJSON(window.SKILLS),
    }, {
        name: 'corp',
        value: $('#corp_selector').val(),
    });
}

</script>

<div class="modal" id="eft-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Please paste a fitting export from EFT</h3>
  </div>
  <div class="modal-body">
    <textarea id="eft-block" style="width:98%;" rows="10"></textarea>
  </div>
  <div class="modal-footer form-inline">
    <a id="eft-submit" class="btn btn-primary" data-dismiss="modal">{% trans 'Import EFT Fitting' %}</a>
  </div>
</div>

{% endblock %}


{% block compressed_javascripts %}
<script type="text/javascript" src="{% static 'ecm/js/lib/jquery.autocomplete.js' %}"></script>
{% endblock %}
{% block post_javascripts %}
<script>
NEW_ITEM =
'<tr id="%typeID">' +
 '<td><img src="{% static "assets/img/skill.png" %}" /></td>' +
 '<td><strong>%typeName</strong></td>' +
 '<td>%radio</td>' +
 '<td><a class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i></a></td>' +
'</tr>';
EMPTY = '<tr id="empty"><td colspan="5" class="order_cart_empty" >Your shopping cart is empty.</td></tr>';
CONFIRM_DELETE_BUTTONS = '<span><a class="btn btn-mini btn-danger">I\'m Sure</a><a class="btn btn-mini">Cancel</a></span>';
//global var
window.SKILLS = [];

function removeItem() {
    var row = this.parentNode.parentNode;
    var typeName = $('td:eq(1)', row).text();

    var td = this.parentNode;

    if ($('span', td).length == 0) {
        $(td).append(CONFIRM_DELETE_BUTTONS);
    }

    $('span a:eq(0)', td).on('click', function () {
    	removeSkill(row.id);
        $(row).remove();
        var rows =  $('#items tr');
        if (rows.length == 0) {
        	$('#items').html(EMPTY);
        }
    });

    $('span a:eq(1)', td).on('click', function () {
        $('span', td).remove();
    });
}


function addItem(name) {
    if (name == '') {
        return;
    }
    $.getJSON("/hr/members/skills/itemid/", {q: name}, function(json) {
        for (var i = 0 ; i < json.length ; i++){
            var typeID = json[i][0];
            var typeName = json[i][1];
            var level = json[i][2];
            appendItemToOrder(typeID, typeName, level);
        }
        $('#members_table').dataTable().fnDraw();
        $("#search_box").val("");
    }).error(function (jqXHR) {
        $('#error-text').html('<strong>{% trans 'Error' %}!</strong> ' + jqXHR.responseText);
        $('#error-box').show();
    });
}

function updateLevel() {      
	                         /* btn-group     td         tr */
    var typeID = parseInt(this.parentNode.parentNode.parentNode.id);
    var newLevel = $(this).val();
    
    for (var i = 0; i < window.SKILLS.length; i++) {
        if (window.SKILLS[i].id == typeID && window.SKILLS[i].lvl != newLevel) {
            window.SKILLS[i].lvl = newLevel;
            $('#members_table').dataTable().fnDraw();
        }
    }
}


function appendItemToOrder(typeID, typeName, level) {
    $('#empty').remove();
    var rows =  $('#items tr');
    for (var i = 0 ; i < rows.length ; i++) {
        if (parseInt(rows[i].id) == parseInt(typeID)) {
            var qty = parseInt($('td:eq(3) input', rows[i]).val());
            $('td:eq(2) input', rows[i]).val(level);
            return;
        }
    }
    var row = NEW_ITEM.replace(/%typeID/g, typeID)
                      .replace(/%typeName/g, typeName)
                      .replace(/%level/g, level);
    
    level = parseInt(level);
    var radio = '<div class="btn-group center skills-radio" data-toggle="buttons-radio" >';
    for (i = 1; i <= 5; i++) {
    	var css = 'btn btn-mini btn-info';
    	if (i == level) {
    		css = css + ' active';
    	}
    	var radio = radio + '<button class="' + css + '" value="' + i + '">' + i + '</button>';
    }
    var radio = radio + '</div>';
    row = row.replace(/%radio/g, radio);
    
    $(row).appendTo("#items");
    $('#' + typeID + ' td:eq(3) a').on('click', removeItem);
    $('#' + typeID + ' td:eq(2) button').on('click', updateLevel);
    window.SKILLS.push({id:typeID, lvl:level});
}

function removeSkill(id) {
	var newskills = [];
	$.each(window.SKILLS, function(k,v) {
		if (v.id != id) {
			newskills.push(v);
		}
	});
	window.SKILLS = newskills;
	$('#members_table').dataTable().fnDraw();
}

$(document).ready(function() {
    $("#search_box").autocomplete("/hr/members/skills/search/", {
        minChars: 3,
        selectFirst: true,
    });

    /* add item on search form submission */
    $("#search_form").on('submit', function(event) {
        event.preventDefault();
        addItem($("#search_box").val());
    });

    /* avoid submitting empty orders */
    $("#items_form").submit(function(event) {
        if ($('#empty').length > 0) {
            event.preventDefault();
        } else {
            $('#throbber-submit').show();
        }
    });
    
    $('#corp_selector').on('change', function () {
    	$('#members_table').dataTable().fnDraw();
    });

    /* when eft modal dialog is submited */
    $('a#eft-submit').click(function () {
        $('#throbber').show();
        $.post('/hr/members/skills/parseeft/', {
            'eft_block': $('#eft-block').val(),
            'quantity': $('#eft-quantity').val()
         })
         .success(function (data) {
             var unavaiableItems = [];
             for (var i=0; i < data.length; i++) {
                appendItemToOrder(data[i].typeID,
                                  data[i].typeName,
                                  data[i].level);
             }
             $('#eft-block').val('');
         })
         .error(function (jqXHR) {
             $('#error-text').html('<strong>{% trans 'Error' %}!</strong> ' + jqXHR.responseText);
             $('#error-box').show();
         })
         .complete(function () {
             $('#throbber').hide();
         });
    });

    $('#error-box a.close').on('click', function () {
        $('#error-box').hide();
    });
    $('#warning-box a.close').on('click', function () {
        $('#warning-box').hide();
    });

    $('#items tr').each(function () {
        $(this).find('td:eq(4) a').on('click', removeItem);
    });
});

</script>
{% endblock %}
