{% extends "hr_base.html" %}

{% block headtitle %}Roles - {{ current_role_type_name }}{% endblock %}



{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/hr/">Human Resources</a></li>
<li><a href="/hr/roles/">Roles</a></li>
<li><a href="/hr/roles/{{ current_role_type }}">{{ current_role_type_name }}</a></li>
{% endblock %}

{% block main_content %}
<h1>Roles <small>{{ current_role_type_name }}</small></h1>

<!-- buttons -->
<div class="btn-group" data-toggle="buttons-radio" id="buttons">
{% for rt in role_types %}
  <button class="btn btn-small" value="{{ rt.typeName }}">{{ rt.dispName }}</button>
{% endfor %}
</div>

<table class="table table-striped table-bordered table-condensed" id="roles_table">
  <thead>
    <tr>
      <th class="top" scope="col" >Role Name</th>
      <th class="top" scope="col" >Description</th>
      <th class="top" scope="col" >Access Level</th>
      <th class="top" scope="col" >Members</th>
      <th class="top" scope="col" >Titles</th>
      <th class="top" scope="col" style="display:none;"></th>
      <th class="top" scope="col" style="display:none;"></th>
      <th class="top" scope="col" style="display:none;"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="dataTables_empty">Loading data from server...</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Role Name</th>
      <th>Description</th>
      <th>Access Level</th>
      <th>Members</th>
      <th>Titles</th>
      <th style="display:none;"></th>
      <th style="display:none;"></th>
      <th style="display:none;"></th>
    </tr>
  </tfoot>
</table>
{% endblock %}




{% block javascripts %}
<script type="text/javascript">
COLOR_THRESHOLDS = {{ colorThresholds|safe }};
var current_role_type = "{{ current_role_type }}";
</script>
{% endblock %}

{% block compressed_javascripts %}
<script type="text/javascript" src="/s/ecm/js/lib/jquery.jeditable.js"></script>
<script>
$(document).ready(function() {

    oTable = $('#roles_table').dataTable($.extend(true, {}, DATATABLE_DEFAULTS, {
        iDisplayLength: 50,
        sAjaxSource: "/hr/roles/{{ current_role_type }}/data/",
        sDom: 'rt',
        aoColumns: [
            { sTitle: "Role Name",    sWidth: "30%", sType: "html",    bSortable: false },
            { sTitle: "Description",  sWidth: "55%", sType: "string",  bSortable: false },
            { sTitle: "Access Level", sWidth: "5%", sType: "numeric",  bSortable: false },
            { sTitle: "Members",      sWidth: "5%", sType: "numeric",  bSortable: false },
            { sTitle: "Titles",       sWidth: "5%", sType: "numeric",  bSortable: false },
            { bVisible: false },
            { bVisible: false },
            { bVisible: false }
        ],
        fnRowCallback: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            /* apply color to all access level cells */
            accessLvl = aData[2];
            $('td:eq(2)', nRow).addClass("row-" + getAccessColor(accessLvl, COLOR_THRESHOLDS));

            /* hide "ID" column and set the id attribute */
            $('td:eq(5)', nRow).hide();
            $(nRow).attr("id", aData[5]);

            /* set members tooltip on each row */
            $('td:eq(6)', nRow).hide();
            members = aData[6];
            if (members != "") {
                $('td:eq(3)', nRow).attr("title", members);
                $('td:eq(3)', nRow).cluetip({
                  width: 150,
                    splitTitle: '|',
                    dropShadow: false,
                    cluetipClass: 'jtip',
                    positionBy: 'mouse',
                    tracking: true
                });
                /* highlight the "Members" cells where there are "direct" members */
                $('td:eq(3)', nRow).addClass("row-red");
            }

            /* set titles tooltip on each row */
            $('td:eq(7)', nRow).hide();
            titles = aData[7];
            if (titles != "") {
                $('td:eq(4)', nRow).attr("title", titles);
                $('td:eq(4)', nRow).cluetip({
                  width: 170,
                    splitTitle: '|',
                    dropShadow: false,
                    cluetipClass: 'jtip',
                    positionBy: 'mouse',
                    tracking: true
                });
            }

            /* Apply jEditable handlers to the cells each time we redraw the table */
            $('td:eq(2)', nRow).editable( '/hr/roles/update/', {
                callback: function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                submitdata: function ( value, settings ) {
                    return { id: this.parentNode.getAttribute('id')};
                },
                tooltip   : 'Click to edit...'
            } );

            return nRow;
        }
    } ));
    $('#buttons button[value="{{ current_role_type }}"]').button('toggle');
    $('#buttons button').click(function () {
        window.location = '/hr/roles/' + this.value + '/';
    });
} );

</script>

{% endblock %}

