{% extends "base.html" %}
{% load i18n %}


{% block headtitle %}{% trans 'Password Reset Complete' %}{% endblock %}


{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/account">{% trans 'Account' %}</a></li>
<li><a href="/account/passwordreset">{% trans 'Password Reset' %}</a></li>
{% endblock %}

{% block main_content %}

<h1 class="pagetitle">{% trans 'Password reset complete' %}</h1>

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

{% endblock %}
