{% extends "base.html" %}


{% block headtitle %}Player List{% endblock %}

{% block header_scripts %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/m/css/jquery.dataTables.css" />
<script type="text/javascript" src="/m/js/lib/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/m/js/players_table.js"></script>
{% endblock %}



{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/players">Player List</a></li>
{% endblock %}

{% block main_content %}

<h1 class="pagetitle">Player List</h1>

<form id="search_form" class="search_form"> 
    <input type="text" id="search_text" value="" /> 
    <input type="button" class="button" id="search_button" value="Search" /> 
    <input type="button" class="button" id="clear_search" value="Reset" /> 
</form> 

<table class="table display" id="players_table">
  <thead> 
    <tr>
      <th class="top" scope="col" >Username</th>
      <th class="top" scope="col" >Admin</th>
      <th class="top" scope="col" >EVE Accounts</th>
      <th class="top" scope="col" >Characters</th>
      <th class="top" scope="col" >Groups</th>
      <th class="top" scope="col" >Last Login</th>
      <th class="top" scope="col" >Joined Date</th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <td colspan="6" class="dataTables_empty">Loading data from server...</td>
    </tr>
  </tbody> 
  <tfoot> 
    <tr>
      <th>Username</th>
      <th>Admin</th>
      <th>EVE Accounts</th>
      <th>Characters</th>
      <th>Groups</th>
      <th>Last Login</th>
      <th>Joined Date</th>
    </tr>
  </tfoot>
</table>

{% endblock %}