

.bold{font-weight:bold;}
.italic{font-style:italic;}
.time{color:#aaa;}
.ok{color: rgb(0,170,0);}
.error{color: #f00;}
.center {text-align:center;}
.right {text-align:right !important;}
.blue {color: blue;}


.row-white { background-color: #E5ECF9; }
.row-blue { background-color: #aff4f1; }
.row-green { background-color: #aff2c1; }
.row-yellow { background-color:#f5f583; }
.row-orange { background-color:#ffd69a; }
.row-red { background-color:#ffa1a1; }
.row-purple { background-color:#c8aaf6; }
.row-black { background-color: #1e1e1e; color: #fff; }
