
.content form {
    margin:10px auto 0 auto;
    text-align: center;
}

.content form.search_form {
    display: inline-block;
}

.content form label {
    float:left;
    width:auto;
    margin:0 auto 0 auto;
}
.content form span.label {
    clear:both;
    display:block;
}
.content form span.label ul.errorlist {
    display:inline-block;
    margin: 0;
    padding: 0;
    font-weight:bold;
    color:rgb(255,0,0);
}
.content form span.label ul.errorlist li {
    display:inline-block;
    list-style:none;
    padding: 0;
    margin: 0;
 }
.content form fieldset {
    border:none;
    margin: 10px auto 0 auto;
    width:300px;
}
.content form input {
    clear: both;
    float: left;
    margin:0 auto 5px auto;
    width:auto;
    padding:0.1em 0 0.2em 0;
    border:solid 1px rgb(200,200,200);
    font-family:verdana,arial,sans-serif;
    font-size:110%;
}
.content form input.checkbox {
    float:left;
    margin:5px auto 0 auto;
    border:none;
}
.content form img.captcha {
    clear:both;
    float:left;
    margin:0 5px 5px 0;
    border:1px solid rgb(150,150,150);
}
.content form input.button:hover {
    cursor:pointer;
    border:solid 1px rgb(80,80,80);
    background:rgb(220,220,220);
    color:rgb(80,80,80);
}

.filter_form {
    clear: both;
    width:auto;
    margin: 10px 0 10px 0;
    float:left;
}

.filter_form div {
    display:inline;
}
.filter_form div span {
    display:inline;
    padding:3px;
}


.content input.button {
    background:rgb(230,230,230);
    border:solid 1px rgb(150,150,150);
    text-align:center;
    color:rgb(150,150,150);
    padding:1px 5px;
    margin:5px 2px;
    float:left;
    font-size: 120%;
}
.content input.button:hover, .content form input.button.selected {
    cursor:pointer;
    border:solid 1px rgb(80,80,80);
    background:rgb(220,220,220);
    color:rgb(80,80,80);
}
