/**********/
/* HEADER */
/**********/
.header a {
    text-decoration:none;
    color:rgb(234,239,247);
}
.header a:hover {
    text-decoration:none;
    color:#76baff;
}
.sitelogo {
    display:block;
    float:left;
    width:60px;
    height:60px;
    z-index:1;
    margin:15px 15px 0 15px;
    background:transparent url(../img/logo_ice.png) no-repeat;
}
.sitename {
    display:block;
    float:left;
    z-index:1;
    margin:20px 0 0 0;
    overflow:visible !important /*Firefox*/;
    overflow:hidden /*IE6*/;
}
.sitename h1 {font-size:240%;}
.sitename h2 {
    margin-left:0.1em;
    color:rgb(234,239,247);
    font-size:120%;
}
.logged_user {
    display:block;
    float:right;
    padding:2px 5px 2px 5px;
    color:rgb(234,239,247);
    text-align:right;
    z-index:2;
    margin:20px 15px 0 0px;
    font-size:140%;
}
.logged_user ul {
    float:right;
    padding:0 15px 0 0;
    font-weight:bold;
}
.logged_user li {
    display:inline;
    list-style:none;
}
.logged_user li a {
    display:block;
    float:right;
}
.header-links {
    text-align:right;
    z-index:5;
    padding-top:50px;
}
.header-links ul {
    float:right;
    padding:0 15px 0 0;
    font-weight:bold;
}
.header-links li {
    display:inline;
    float:left;
    list-style:none;
}
.header-links li a {
    padding:2px 5px 2px 5px;
    font-size:140%;
}
