

/**
 * The layout is as follows:
 *
 *      +-----------------------------------------+
 *      |              page-container             |
 *      | +-------------------------------------+ |
 *      | |               header                | |
 *      | +-------------------------------------+ |
 *      | |                main                 | |
 *      | | +--------+------------------------+ | |
 *      | | |        |      breadcrumbs       | | |
 *      | | |  menu  +------------------------+ | |
 *      | | |        |        content         | | |
 *      | | +--------+------------------------+ | |
 *      | +-------------------------------------+ |
 *      | |                footer               | |
 *      | +-------------------------------------+ |
 *      +-----------------------------------------+
 */

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-size: 62.5%; /*Font-size: 1.0em = 10px when browser default size is 16px*/
    background-color: rgb(255,255,255);
    font-family: sans-serif;
}

.page-container {
    margin: 10px 20px;
    border: solid 1px rgb(150,150,150);
    font-size: 1.0em;
    min-width: 930px;
}

.header {
    width: 100%;
    font-family: sans-serif;
    height:90px;
    background:#1259a2 url(../img/header.png) repeat-x;
    overflow:visible !important /*Firefox*/;
    overflow:hidden /*IE6*/;
}
/* details in 'header.css' */


.footer {
    clear:both;
    width:100%;
    height:37px;
    padding: 8px 0 0 0;
    background: #1259a2 url(../img/footer.png) repeat-x top;
    background-origin:border-box;
    font-size:1.0em;
    overflow:visible !important /*Firefox*/;
    overflow:hidden /*IE6*/;
}
/* details in 'footer.css' */


.main {
    clear: both;
    width: 100%;
    border-spacing: 0;
    vertical-align: top !important;
    display: inherit;
}

.menu {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    vertical-align: top !important;
    background: #fff url(../img/menu-bg.png) repeat-y;
    padding: 5px 0 5px 0;
}
/* details in 'menu.css' */

.page-content {
    width: 100%;
    overflow:visible !important /*Firefox*/;
    overflow:hidden /*IE6*/;
    font-size:1.0em;
    vertical-align: top;
    padding: 0 10px 10px 10px;
}

.breadcrumbs {
    clear:both;
    padding: 1.0em 0 1.5em 0;
    margin-bottom: 10px;
}
/* details in 'breadcrumbs.css' */

.content {
    width: 100%;
    font-size:1.0em;
}
/* details in 'content.css' */
