

.menu {
    display:inline; /*Fix IE floating margin bug*/; 
    float:left; 
    width:200px; 
    margin:0; 
    overflow:visible !important /*Firefox*/; 
    overflow:hidden /*IE6*/; 
    font-size:1.0em;
}

.menu ul {
}

.menu ul a {
}

.menu ul a {
}

.menu ul a {
}

.menu ul a {
}

.menu ul a {
}

.menu ul a {
}
