.content h1.pagetitle {
    margin:0 0 0.4em 0;
    padding:0 0 2px 0;
    border-bottom:solid 7px rgb(225,225,225);
    font-family:"trebuchet ms",arial,sans-serif;
    color:rgb(100,100,100);
    font-weight:bold;
    font-size:220%;
}
.content h1.pagetitle.error {
    color:#fff;
    background-color:#f00;
    padding:0 0 2px 4px;
}
.content h1 {
    clear:both;
    margin:1.0em 0 0.5em 0;
    font-family:"trebuchet ms",arial,sans-serif;
    color:rgb(80,80,80); font-weight:normal;
    font-size:210%;
}
.content h2 {
    clear:both;
    margin:0.5em 0 0.5em 0;
    font-family:"trebuchet ms",arial,sans-serif;
    color:rgb(80,80,80);
    font-weight:normal;
    font-size:170%;
}

.content p {
    margin:1.0em 0 1.0em 0;
    line-height:1.5em;
    font-size:120%;
}
.content p.center {
    text-align:center;
}
.content p.right {
    text-align:right;
}
.content p.details {
    clear:both;
    margin:-0.25em 0 1.0em 0;
    line-height:1.0em;
    font-size:110%;
}

.content {
    font-size: 120%;
}

.content a {
    color:rgb(70,122,167);
    font-weight:bold;
    text-decoration:none;
}
.content h1 a {
    color:rgb(70,122,167);
    font-weight:normal;
    text-decoration:none;
}
.content a:hover {
    color:rgb(42,90,138);
    text-decoration:underline;
}
.content a:visited {
    color:rgb(42,90,138);
}

.content ul {
    list-style:none;
    margin:0.5em 0 1.0em 0;
}
.content ul li {
    margin-left: 2em;
    line-height:1.4em;
    list-style-image: url(../img/bg_bullet_arrow.gif);
}




