{% extends "base.html" %}
{% load i18n %}
{% block headtitle %}{% trans 'Home' %}{% endblock %}

{% block main_content %}
<div class="row-fluid">
	<div class="span8">
		<div class="page-header">
		  <h1>{% trans 'Message Of The Day' %}</h1>
		</div>
		
		<p>{{motd.render_html|safe}}</p>
        <p class="pull-right faded"><em>&mdash;{{motd.date|ecm_datetime}} {% trans 'by' %} <strong>{{motd.user}}</strong></em></p>
		
		{% if can_edit_motd %}
		<br><br><a class="pull-right btn btn-mini" href="/editmotd/">Edit</a><br>
		{% endif %}
		<hr>
		
		<h2>Corporation Details</h2>
		<dl>
	        <dt>{% trans 'CEO' %}</dt><dd><a href="/hr/members/{{ corp.ceoID }}">{{ corp.ceoName }}</a></dd>
	        <dt>{% trans 'Tax Rate' %}</dt><dd>{{ corp.taxRate }}%</dd>
	        <dt>{% trans 'Member Count' %}</dt><dd>{{ corp.memberCount }} (max. {{ corp.memberLimit }})</dd>
	        <dt>{% trans 'Description' %}</dt><dd>{{ corp.description|safe }}</dd>
        </dl>
	</div>
	<div class="span4">
	  <img src="//image.eveonline.com/Corporation/{{ corp.corporationID }}_128.png"></img><br>
	  <em>{{ corp.corporationName }} [{{ corp.ticker }}]</em><br>
	  {% if corp.allianceID %}
	  <img src="//image.eveonline.com/Alliance/{{ corp.allianceID }}_128.png"></img><br>
	  <em>{{ corp.allianceName }} &lt;{{ corp.allianceTicker }}&gt;</em><br>
	  {% endif %}
	</div>
</div>
{% endblock %}
