.standing-cell_10 { 
	background-color: #0044cf;
	color: white;
	font-weight: bold;
}
.standing-row_10:hover td.standing-cell_10 {
	background-color: #0038ab;
}

.standing-cell_5 { 
	background-color: #5293ff;
	color: white;
	font-weight: bold;
}
.standing-row_5:hover td.standing-cell_5 { 
	background-color: #3e82f1; 
}

.standing-cell_-5 {
	background-color: #ffd800;
	color: black;
    font-weight: bold;
}
.standing-row_-5:hover td.standing-cell_-5 {
	background-color: #f4c900;
}

.standing-cell_-10 {
	background-color: #dc0000;
	color: white;
    font-weight: bold;
}
.standing-row_-10:hover td.standing-cell_-10 {
	background-color: #cb0101;
}