{% extends "hr_base.html" %}

{% block headtitle %}Members{% endblock %}



{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/hr/">Human Resources</a></li>
<li><a href="/hr/members/">Members</a></li>
{% endblock %}

{% block main_content %}
<h1>Member List <small>last update {{ scan_date|ecm_datetime }}</small></h1>

<form id="search_form" class="form-search form-inline">
  <div class="btn-toolbar" >
    <input type="text" id="search_text" class="input-medium search-query" value="" />
    <div class="btn-group">
      <a class="btn btn-small" id="search_button"><i class="icon-search"></i> Search</a>
      <a class="btn btn-small" id="clear_search">Reset</a>
    </div>
  </div>
</form>

<table class="table table-striped table-bordered table-condensed" id="members_table">
  <thead>
    <tr>
      <th class="top" scope="col" >Name</th>
      <th class="top" scope="col" >Nickname</th>
      <th class="top" scope="col" >Player</th>
      <th class="top" scope="col" >Access Level</th>
      <th class="top" scope="col" >Corp Date</th>
      <th class="top" scope="col" >Last Login</th>
      <th class="top" scope="col" >Location</th>
      <th class="top" scope="col" style="display:none;">Titles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="8" class="dataTables_empty">Loading data from server...</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Name</th>
      <th>Nickname</th>
      <th>Player</th>
      <th>Access Level</th>
      <th>Corp Date</th>
      <th>Last Login</th>
      <th>Location</th>
      <th style="display:none;">Titles</th>
    </tr>
  </tfoot>

</table>
{% endblock %}




{% block javascripts %}
<script type="text/javascript">
DIRECTOR_ACCESS_LVL = {{ directorAccessLvl }};
COLOR_THRESHOLDS = {{ colorThresholds|safe }};
AJAX_URL = '/hr/members/data/';
COOKIE_NAME = 'ecm_members_table_';
</script>
{% endblock %}

{% block compressed_javascripts %}
<script type="text/javascript" src="/s/hr/js/members_table.js"></script>
{% endblock %}