{% extends "hr_base.html" %}

{% block headtitle %}Members History{% endblock %}



{% block hr_compressed_javascripts %}
<script type="text/javascript" src="/s/hr/js/history_table.js"></script>
{% endblock %}



{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/hr/">Human Resources</a></li>
<li><a href="/hr/members/">Members</a></li>
<li><a href="/hr/members/history/">History</a></li>
{% endblock %}





{% block main_content %}
<h1 class="pagetitle">Members History <span class="time">- last update {{ scan_date|ecm_datetime }}</span></h1>

<form id="search_form" class="search_form">
    <input type="text" id="search_text" value="" />
    <input type="button" class="button" id="search_button" value="Search" />
    <input type="button" class="button" id="clear_search" value="Reset" />
</form>

<table class="table display" id="history_table">
  <thead>
    <tr>
      <th class="top" scope="col" >Corped/Leaved</th>
      <th class="top" scope="col" >Name</th>
      <th class="top" scope="col" >Nickname</th>
      <th class="top" scope="col" >Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="4" class="dataTables_empty">Loading data from server...</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Corped/Leaved</th>
      <th>Name</th>
      <th>Nickname</th>
      <th>Date</th>
    </tr>
  </tfoot>

</table>


{% endblock %}
