{% extends "base.html" %}

{% block headtitle %}Home{% endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
{% endblock %}



{% block main_content %}

<h1>Corporation Details</h1>

<table>
  <thead>
    <tr>
        <th width="250px" >Corporation</th>
{% if corp.allianceID %}<th width="250px" >Alliance</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><img src="http://image.eveonline.com/Corporation/{{ corp.corporationID }}_128.png"></img></td>
{% if corp.allianceID %}<td><img src="http://image.eveonline.com/Alliance/{{ corp.allianceID }}_128.png"></img></td>{% endif %}
    </tr>
    <tr>
        <td><p>{{ corp.corporationName }} [{{ corp.ticker }}]</p></td>
{% if corp.allianceID %}<td><p>{{ corp.allianceName }} &lt;{{ corp.allianceTicker }}&gt;</p></td>{% endif %}
    </tr>
  </tbody>
</table>

<ul>
    <li><b>CEO:</b> <a href="/hr/members/{{ corp.ceoID }}">{{ corp.ceoName }}</a></li>
    <li><b>Tax Rate:</b> {{ corp.taxRate }}%</li>
    <li><b>Member Count:</b> {{ corp.memberCount }} (max. {{ corp.memberLimit }})</li>
    <li><b>Description:</b> {{ corp.description|safe }}</li>
</ul>

<h2>MOTD</h2>
{% if motd %}
{{motd.render_html|safe}}
{% else %}
No MOTD
{% endif %}
{% if button %}
<br><br><a class="btn btn-small btn-success" href="/editmotd/">Edit MOTD</a>
{% endif %}
{% endblock %}
