{% extends "base.html" %}

{% block headtitle %}Home{% endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
{% endblock %}

{% block main_content %}
<div class="row-fluid">
	<div class="span8">
		<div class="page-header">
		  <h1>Message Of The Day</h1>
		</div>
		{{motd.render_html|safe}}
		{% if can_edit_motd %}
		<br><br><a class="btn btn-mini" href="/editmotd/">Edit</a>
		{% endif %}
		<hr>
		
		<h2>Corporation Details</h2>
		<dl>
	        <dt>CEO</dt><dd><a href="/hr/members/{{ corp.ceoID }}">{{ corp.ceoName }}</a></dd>
	        <dt>Tax Rate</dt><dd>{{ corp.taxRate }}%</dd>
	        <dt>Member Count</dt><dd>{{ corp.memberCount }} (max. {{ corp.memberLimit }})</dd>
	        <dt>Description</dt><dd>{{ corp.description|safe }}</dd>
        </dl>
	</div>
	<div class="span4">
	  <img src="http://image.eveonline.com/Corporation/{{ corp.corporationID }}_128.png"></img><br>
	  <em>{{ corp.corporationName }} [{{ corp.ticker }}]</em><br>
	  {% if corp.allianceID %}
	  <img src="http://image.eveonline.com/Alliance/{{ corp.allianceID }}_128.png"></img><br>
	  <em>{{ corp.allianceName }} &lt;{{ corp.allianceTicker }}&gt;</em><br>
	  {% endif %}
	</div>
</div>
{% endblock %}
