{% extends "base.html" %}


{% block headtitle %}Enter a Director API Key{% endblock %}

{% block breadcrumbs_wrapper %}{% endblock %}

{% block main_content %}
<div class="page-header">
    <h1>Enter a Director API Key</h1>
</div>

<form method="post" action="{{ request_path }}" class="form-inline">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {{ form.non_field_errors }}<br>

    {{ form.keyID.label_tag }}{{ form.keyID.errors }}<br>
    {{ form.keyID }}<br>
    {{ form.vCode.label_tag }}{{ form.vCode.errors }}<br>
    {{ form.vCode }}<br>
    {{ form.characterID.label_tag }}{{ form.characterID.errors }}<br>
    {{ form.characterID }}<br>

    <br>
    <button type="submit" class="btn btn-primary">Submit Information</button>
</form>
{% endblock %}
