{% extends "base.html" %}

{% block headtitle %}Edit MOTD{% endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li>Edit MOTD</li>
{% endblock %}

{% block main_content %}
<div class="page-header">
    <h1>Edit the <em>Message Of The Day</em></h1>
</div>

<form class="well form-horizontal" target="/editapi/" method="post">
	{% csrf_token %}
	
	<label>MOTD Text</label>
	<textarea rows="10" class="span5 code" name="message">{{motd.message}}</textarea>
	<br>
	<label>Select Markup</label>
	<select name="markup">
		{% for markup_id, markup in markups.items %}
		<option value="{{markup_id}}" {% if motd.markup = markup_id %}selected="selected"{% endif %}>{{markup}}</option>
		{% endfor %}
	</select>
	<button type="submit" class="btn btn-primary">Save Changes</button>
</form>

{% endblock %}