{% extends "base.html" %}
{% load i18n %}

{% block headtitle %}{% trans 'User Profile' %}{% endblock %}

{% block main_content %}
<div class="page-header">
  <h1>{{user.username}} <small>{% trans 'User Account' %}</small></h1>
</div>

<p>{% trans 'Click <a href="/account/passwordchange/">here</a> to change your password.' %}</p>

<div class="row-fluid">
  <div class="span6">
    <h2>{% trans 'EVE API Keys' %}</h2>
    <table class="table">
    <thead>
      <tr>
        <th>{% trans 'KeyID' %}</th>
        <th>{% trans 'State' %}</th>
        <th></th>
      </tr>
    </thead>
    {% for key in api_keys %}
    <tr>
      <td><strong>#{{ key.keyID }}</strong></td>
      <td><strong>{{ key.is_valid_html|safe }}</strong></td>
      <td><a class="edit_api btn btn-mini" href="/account/editapi/{{ key.keyID }}/">Edit</a></td>
      <td><a class="del_api btn btn-mini btn-danger" href="/account/deleteapi/{{ key.keyID }}/">{% trans 'Delete' %}</a></td>
    </tr>
    {% endfor %}
    </table>

    <a class="btn btn-small btn-success pull-right" href="/account/addapi/">Add new API Key</a>
  </div>
  <div class="span6">
    <h2>Owned Characters</h2>
    <table class="table" id="owned_characters">
    <thead>
      <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Cyno' %}</th>
        <th></th>
      </tr>
    </thead>
    {% for owned in characters %}
    <tr>
      <td>{{ owned.permalink|safe }}</td>
      <td><input type="checkbox" id="{{ owned.characterID }}cyno" value="{{ owned.characterID }}" {%if owned.is_cyno_alt %}checked{% endif %}></td>
      <td><a class="btn btn-mini btn-danger"
             id="{{owned.characterID}}delete"
             href="/account/deletecharacte/{{ owned.characterID }}/"
             name="{{ owned.name }}">{% trans 'Delete' %}</a></td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>


{% if external_apps %}
<h2>External Application Bindings</h2>
<table class="table">
<thead>
  <tr>
    <th>{% trans 'Application' %}</th>
    <th>{% trans 'External Username' %}</th>
    <th></th>
  </tr>
</thead>
<tbody>
  {% for app in external_apps %}
  <tr>
    <td><strong>{{ app.app.name }}</strong></td>
    <td>{% if app.binding %}<strong class="ok">{{ app.binding.external_name }}</strong>{% else %}{% trans 'None' %}{% endif %}</td>
    <td>{% if app.binding %}<a class="del_binding btn btn-mini btn-danger" href="/account/binding/delete/{{app.binding.id}}/">{% trans 'Delete' %}</a>
                  {% else %}<a class="add_binding btn btn-mini btn-success" href="/account/binding/add/{{app.app.id}}/">{% trans 'Bind' %}</a>{%endif%}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}

{% block post_javascripts %}
<script type="text/javascript">
$(document).ready(function () {
    {% for owned in characters %}
    $("#{{owned.characterID}}delete").click(function (event) {
        var alert_text = "{% trans 'Are you sure you want to get rid of' %} " + this.name + "?\n\n";
        alert_text += "{% trans 'If this character is still attached to one of your registered API Keys, it will be associated with your profile again at next scan.' %}";
        if (!confirm(alert_text)) {
            event.preventDefault();
        }
    });
    $('#{{owned.characterID}}cyno').on('click', function () {
        var params = {
            is_cyno_alt: $(this).is(':checked')
        }
        $.post('/hr/members/{{owned.characterID}}/is_cyno_alt/', params);
    });
    {% endfor %}
    $("a.del_api").click(function (event) {
        var alert_text = "{% trans 'Are you sure you want to delete this API Key?' %}";
        if (!confirm(alert_text)) {
            event.preventDefault();
        }
    });
    $(".del_binding").click(function () {
        var alert_text = "{% trans 'Are you sure you want to delete this binding?' %}";
        if (!confirm(alert_text)) {
            event.preventDefault();
        }
    });

});
</script>
{% endblock %}

