{% extends "base.html" %}
{% load i18n %}
{% block headtitle %}{% trans 'Activation Error' %}{% endblock %}

{% block main_content %}
<div class="center">

<div class="page-header">
	<h1 class="error">{% trans 'Activation Error' %}</h1>
</div>

<p>
{% blocktrans %} 
Sorry {{ form.cleaned_data.username }}, but the server was not able to send an email {{ form.cleaned_data.email }}.
{% endblocktrans %}
</p>

<p>{% trans 'Reason:' %} {{ error_reason }}</p>
<p>{% trans 'Please contact the administrator.' %}</p>

</div>
{% endblock %}
