{% extends "base.html" %}
{% load i18n %}

{% block headtitle %}{% trans 'Add API Key' %}{% endblock %}

{% block main_content %}
<div class="page-header">
    <h1>Add API Key</h1>
</div>

<a href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask={{accessMask}}"
   target="_blank">{% trans 'Create a new API Key on EVE-Online support website' %}</a>

<form action="/account/addapi/" method="post" class="form-inline">{% csrf_token %}

    {{ form.non_field_errors }}<br>

    {{ form.keyID.label_tag }}{{ form.keyID.errors }}<br>
    {{ form.keyID }}<br>
    {{ form.vCode.label_tag }}{{ form.vCode.errors }}<br>
    {{ form.vCode }}<br>

    <br>
    <button type="submit" class="btn btn-primary">{% trans 'Submit Information' %}</button>
</form>

{% endblock %}
