{% extends "base.html" %}
{% load i18n %}

{% block headtitle %}{% trans 'Create Binding to External Application' %}{% endblock %}


{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/account/">{% trans 'Account' %}</a></li>
<li class="active"><a href="{{ request_path }}">{% trans 'Create Binding to External Application' %}</a></li>
{% endblock %}

{% block main_content %}
<div class="page-header">
    <h1>{% trans 'Create Binding to External Application' %} <i>{{app}}</i></h1>
</div>
<form action="{{ request_path }}" method="post"  class="form-inline">{% csrf_token %}
    {% if form.non_field_errors %}
    {{ form.non_field_errors }}<br>
    {% endif %}

    {{ form.username.label_tag }}{{ form.username.errors }}<br>
    {{ form.username }}<br>
    {{ form.password.label_tag }}{{ form.password.errors }}<br>
    {{ form.password }}<br>
    <br>
    <button type="submit" class="btn btn-primary">{% trans 'Bind' %}</button>
</form>

{% endblock %}
