{% extends "base.html" %}
{% load i18n %}

{% block headtitle %}{% trans 'Password Change' %}{% endblock %}

{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/account/">{% trans 'Account' %}</a></li>
<li class="active"><a href="/account/passwordchange/">{% trans 'Password Change' %}</a></li>
{% endblock %}

{% block main_content %}
<div class="page-header">
	<h1>{% trans 'Password Change' %}</h1>
</div>

<p>{% trans 'Please enter your old password, for securitys sake, and then enter your 
new password twice so we can verify you typed it in correctly.' %}</p>

<form action="/account/passwordchange/" method="post" class="form-inline">{% csrf_token %}

	{{ form.non_field_errors }}<br>
    {{ form.old_password.label_tag }}{{ form.old_password.errors }}<br>
    {{ form.old_password }}<br>
    {{ form.new_password1.label_tag }}{{ form.new_password1.errors }}<br>
    {{ form.new_password1 }}<br>
    {{ form.new_password2.label_tag }}{{ form.new_password2.errors }}<br>
    {{ form.new_password2 }}<br>
    
    <br>
    <button type="submit" name="cmdweblogin" class="btn btn-primary">{% trans 'Change my password' %}</button>
       
	<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>

{% endblock %}
