{% extends "base.html" %}
{% load i18n %}

{% block headtitle %}{% trans 'Password Change Successful' %}{% endblock %}

{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/account/">{% trans 'Account' %}</a></li>
<li class="active"><a href="/account/passwordchange/">{% trans 'Password Change' %}</a></li>
{% endblock %}

{% block main_content %}
<div class="page-header">
	<h1>{% trans 'Password Change Successful' %}</h1>
</div>

<p class="center">{% trans 'Your password was changed.' %}</p>
<p class="center">{% trans 'Go back to your' %} <a href="/account/">User Account</a></p>

{% endblock %}
