/*
 * jsTree default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */
 
.jstree-default a {color:black; font-weight:normal; text-decoration:none;}
.jstree-default a:hover {color:black; font-weight:normal; text-decoration:none;}
.jstree-default a:visited {color:black; font-weight:normal; text-decoration:none;}

.jstree-default a.jstree-search { background-color:yellow; }

#assets_tree {
    margin-top: 20px;
    clear: both;
}
 
.station-row > a { 
    width:95%;
    background-color: #ddd;/* for non-css3 browsers */
    filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=true,StartColor=0x00cccccc,EndColor=0x00ffffff,iOrientation=1);
    background: -webkit-gradient(linear, left top, right top, from(#ccc), to(#fff)); /* for webkit browsers */
    background: -moz-linear-gradient(left,  #ccc,  #fff); /* for firefox 3.6+ */ 
}
.hangar-row > a { 
    background-color: #eee;/* for non-css3 browsers */
    filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=true,StartColor=0x00dddddd,EndColor=0x00ffffff,iOrientation=1);
    background: -webkit-gradient(linear, left top, right top, from(#ddd), to(#fff)); /* for webkit browsers */
    background: -moz-linear-gradient(left,  #ddd,  #fff); /* for firefox 3.6+ */ 
}

.added-row > a { 
    background-color: #d2ffde;/* for non-css3 browsers */
    filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=true,StartColor=0x00d2ffde,EndColor=0x00ffffff,iOrientation=1);
    background: -webkit-gradient(linear, left top, right top, from(#d2ffde), to(#fff)); /* for webkit browsers */
    background: -moz-linear-gradient(left,  #d2ffde,  #fff); /* for firefox 3.6+ */ 
}

.removed-row > a { 
    background-color: #ffc4c4;/* for non-css3 browsers */
    filter:progid:DXImageTransform.Microsoft.Gradient(Enabled=true,StartColor=0x00ffc4c4,EndColor=0x00ffffff,iOrientation=1);
    background: -webkit-gradient(linear, left top, right top, from(#ffc4c4), to(#fff)); /* for webkit browsers */
    background: -moz-linear-gradient(left,  #ffc4c4,  #fff); /* for firefox 3.6+ */ 
} 
 
 
.jstree-default { font-size: 1.2em; }
.jstree-default li, 
.jstree-default ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-default li { background-position:-90px 0; background-repeat:repeat-y; }
.jstree-default li.jstree-last { background:transparent; }
.jstree-default .jstree-open > ins { background-position:-72px 0; }
.jstree-default .jstree-closed > ins { background-position:-54px 0; }
.jstree-default .jstree-leaf > ins { background-position:-36px 0; }

.jstree-default .jstree-hovered { background:#e7f4f9;}
.jstree-default .jstree-clicked { background:#beebff; }
.jstree-default a .jstree-icon { background-position:-56px -19px; }
.jstree-default a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-default.jstree-focused { background:#ffffFF; }

.jstree-default .jstree-no-dots li, 
.jstree-default .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-default .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-default .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-default .jstree-no-icons a .jstree-icon { display:none; }

.jstree-default .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-default .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-default .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-default .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-default ins { background:transparent !important; }
#vakata-dragged.jstree-default .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-default .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-default { background:url("d.png") -41px -57px no-repeat !important; }

#vakata-contextmenu.jstree-default-context, 
#vakata-contextmenu.jstree-default-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-default-context li { }
#vakata-contextmenu.jstree-default-context a { color:black; }
#vakata-contextmenu.jstree-default-context a:hover, 
#vakata-contextmenu.jstree-default-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-default-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-default-context li ul { margin-left:-4px; }

/* IE6 BEGIN */
.jstree-default li, 
.jstree-default ins,
#vakata-dragged.jstree-default .jstree-invalid, 
#vakata-dragged.jstree-default .jstree-ok, 
#jstree-marker.jstree-default { _background-image:url("d.gif"); }
.jstree-default .jstree-open ins { _background-position:-72px 0; }
.jstree-default .jstree-closed ins { _background-position:-54px 0; }
.jstree-default .jstree-leaf ins { _background-position:-36px 0; }
.jstree-default a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-default-context ins { _display:none; }
#vakata-contextmenu.jstree-default-context li { _zoom:1; }
.jstree-default .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-default .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-default .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */
