<!DOCTYPE html>
<html>
{% load compress %}
{% load i18n %}
{% load static from staticfiles %}
<!--  EVE Corp. Management     -->
<!--  Date:    May 14, 2010       -->
<!--  Author:  diabeteman         -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="3600" />
  <meta name="revisit-after" content="2 days" />
  <meta name="author" content="diabeteman" />
  <meta name="robots" content="noindex, nofollow" />
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>ECM - {% block headtitle %}{% endblock %}</title>
{% compress css %}
  <link rel="stylesheet" type="text/css" href="{% static 'ecm/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'ecm/css/bootstrap-responsive.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'ecm/css/dataTables.bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'ecm/css/jquery.cluetip.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'ecm/css/bootstrap-ecm.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'ecm/css/classes.css' %}" />
{% block stylesheets %}{% endblock %}
{% endcompress %}
  <link rel="icon" type="image/ico" href="{% static 'ecm/img/favicon.ico' %}" />
  <link rel="shortcut icon" type="image/ico" href="{% static 'ecm/img/favicon.ico' %}" />
  {% block javascripts %}{% endblock %}
  {% compress js %}<script type="text/javascript" src="{% static 'ecm/js/lib/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'ecm/js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'ecm/js/csrf.js' %}"></script>
  <script type="text/javascript" src="{% static 'ecm/js/ecm_lib.js' %}"></script>
  <script type="text/javascript" src="{% static 'ecm/js/lib/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static 'ecm/js/jquery.datatables.saveascsv.js' %}"></script>
  <script type="text/javascript" src="{% static 'ecm/js/lib/jquery.jeditable.js' %}"></script>
  <script type="text/javascript" src="{% static 'ecm/js/lib/jquery.json.js' %}"></script>
  <script type="text/javascript" src="{% static 'ecm/js/dataTables.bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'ecm/js/lib/jquery.cluetip.js' %}"></script>
  {% block compressed_javascripts %}{% endblock %}{% endcompress %}
  {% block post_javascripts %}{% endblock %}
</head>
<body>
  <!-- NAVBAR -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/" title="Eve Corp. Management" style="padding: 0px;">
            <img src="{% static 'ecm/img/logo.png' %}" />
        </a>
        <span class="navbar-text pull-left"><em>{{my_corp|default:'NO CORP YET'}}</em></span>
        <div class="nav-collapse">
          {% if user.is_authenticated %}
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" 
                          data-toggle="dropdown">
                <i class="icon-user icon-white"></i> {{ user.username }} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/account/">{% trans 'Account' %}</a></li>
                {% if user.is_staff and user.is_superuser %}
                <li><a href="/editapi/">{% trans "Edit corporation API key" %}</a></li>
                <li><a href="/admin/">{% trans 'Administration' %}</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="/account/logout/">{% trans 'Logout' %}</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div> <!-- /NAVBAR -->

  <!-- CONTAINER -->
  <div class="container-fluid">
    <div class="row-fluid">
      <!-- MENU -->
      {% if user_menu %}
      <div class="span2" id="main-menu">
	      {{ user_menu|safe }}
          {% if motd %}
          <h4>{% trans 'Message Of The Day' %}</h4>
          <p>{{motd.render_html|safe|truncatewords:5}}<a href="/">{% trans 'read more' %}</a></p>
          <span class="pull-right faded"><em>&mdash;{{motd.date|ecm_date}} by <strong>{{motd.user}}</strong></em></span>
          {% endif %}
      </div>
      <div class="span10">
      {% else %} <!-- NO MENU -->
      <div class="span12">
      {% endif %}
      <!-- PAGE CONTENT -->
      {% block main_content %}{% endblock %}
      </div>
    </div>
  </div> <!-- /CONTAINER -->

  <!-- FOOTER -->
  <footer>
    <div class="container-fluid">
      <hr>
      <span class="pull-left">
        EVE Corp. Management <strong>{{ecm_version}}</strong> © 2010-2014. Released under <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">GPL</a>
      </span>
      <span class="pull-right">
        <a href="https://github.com/evecm/ecm/wiki">{% trans 'Project website' %}</a>
        &bull;
        {% trans 'Powered by' %} <a href="http://www.python.org/">Python</a> and
        <a href="http://www.djangoproject.com/">Django</a>
      </span>
    </div>
    <div class="container-fluid">
    “EVE”, “EVE Online”, “CCP”, and all related logos and images are trademarks or registered trademarks of CCP hf.  © 2014 CCP hf.  All rights reserved.  
    </div>
  </footer><!-- /FOOTER -->
</body>
</html>
