{% extends "ecm/hr/hr_base.html" %}
{% load i18n %}
{% block headtitle %}{% trans 'Roles' %}{% endblock %}



{% block main_content %}
<div class="page-header">
    <h1>Roles</h1>
</div>

<div class="btn-toolbar form-search form-inline" >
  <span class="label label-info">{% trans 'Role Category' %}</span>
  <div class="btn-group" data-toggle="buttons-radio" id="buttons">
  {% for rt in role_types %}
    <button class="btn btn-small btn-info" value="{{ rt.id }}">{{ rt.dispName }}</button>
  {% endfor %}
  </div>
</div>

{% datatable 'roles_table' columns 
             defaults=datatables_defaults 
             css_class='table table-bordered table-condensed' 
             sDom='rt'
             iDisplayLength=50 
             sAjaxSource='/hr/roles/data/' 
             sCookiePrefix='ecm_member_access_changes_table_' 
             fnRowCallback='rolesRowCallback'
             fnServerParams='rolesServerParams' %}
{% endblock %}


{% block post_javascripts %}
<script>
COLOR_THRESHOLDS = {{ colorThresholds|safe }};
ROLE_TYPE = '{{ role_type }}';

function rolesRowCallback( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
    /* apply color to all access level cells */
    accessLvl = aData[2];
    $('td:eq(2)', nRow).addClass("row-" + getAccessColor(accessLvl, COLOR_THRESHOLDS));

    /* hide "ID" column and set the id attribute */
    $('td:eq(5)', nRow).hide();
    $(nRow).attr("id", aData[5]);

    /* set members tooltip on each row */
    $('td:eq(6)', nRow).hide();
    members = aData[6];
    if (members != "") {
        $('td:eq(3)', nRow).attr("title", members);
        $('td:eq(3)', nRow).cluetip({
          width: 150,
            splitTitle: '|',
            dropShadow: false,
            cluetipClass: 'jtip',
            positionBy: 'mouse',
            tracking: true
        });
        /* highlight the "Members" cells where there are "direct" members */
        $('td:eq(3)', nRow).addClass("row-red");
    }

    /* set titles tooltip on each row */
    $('td:eq(7)', nRow).hide();
    titles = aData[7];
    if (titles != "") {
        $('td:eq(4)', nRow).attr("title", titles);
        $('td:eq(4)', nRow).cluetip({
          width: 170,
            splitTitle: '|',
            dropShadow: false,
            cluetipClass: 'jtip',
            positionBy: 'mouse',
            tracking: true
        });
    }

    /* Apply jEditable handlers to the cells each time we redraw the table */
    $('td:eq(2)', nRow).editable( '/hr/roles/update/', {
        callback: function( sValue, y ) {
            var aPos = $('#roles_table').fnGetPosition( this );
            $('#roles_table').fnUpdate( sValue, aPos[0], aPos[1] );
        },
        submitdata: function ( value, settings ) {
            return { id: this.parentNode.getAttribute('id')};
        },
        tooltip   : 'Click to edit...'
    } );

    return nRow;
}
        
function rolesServerParams( aoData ) {
    /* Add some extra variables to the url */
    aoData.push( {
        name: 'role_type',
        value: ROLE_TYPE
    } );
}


function updateButtons() {
    $('#buttons button').removeClass('active');
    $('#buttons button[value="' + ROLE_TYPE + '"]').addClass('active');
}


$(document).ready(function() {
    $('#buttons button').click(function () {
        ROLE_TYPE = this.value;
        foo = $('#roles_table')
        $('#roles_table').dataTable().fnDraw();
    });
    
    updateButtons();
} );


</script>

{% endblock %}

