{% extends "ecm/hr/hr_base.html" %}
{% load i18n %}
{% block headtitle %}{% trans 'Role Details' %} - {{ role }}{% endblock %}



{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/hr/">{% trans 'Human Resources' %}</a></li>
<li><a href="/hr/roles/">{% trans 'Roles' %}</a></li>
<li class="active"><a href="/hr/roles/{{ role.id }}/">{{ role.name }} <em>({{ role.roleType.dispName }})</em></a></li>
{% endblock %}

{% block main_content %}
<div class="page-header">
<h1>{{ role.name }} <small>{{ role.roleType.dispName }}</small></h1>
</div>
<p>{{ role.description }}</p>

<h2>Access Level</h2>
<div class="row-fluid editable bold" id="{{ role.id }}">{{ role.accessLvl }}</div>


<h2>Members having the role <small>{{ role.name }} <em>{{ role.roleType.dispName }}</em></small></h2>
<ul>
  <li>
    <b>{% trans 'Assigned directly' %}:</b>
    {% if direct_member_count %}
    {{ direct_member_count }} member{{ direct_member_count|pluralize }}
    {% else %}
    {% trans 'None' %}
    {% endif %}
  </li>
  <li>
    <b>{% trans 'Assigned through titles' %}:</b>
    {% if total_member_count %}
    {{ total_member_count }} member{{ total_member_count|pluralize }}
    {% else %}
    {% trans 'None' %}
    {% endif %}
  </li>
</ul>

<form id="search_form" class="form-search form-inline">
  <div class="btn-toolbar" >
    <i class="icon-search"></i>
    <input type="text" id="search_text" class="input-medium search-query" value="" />
    <div class="btn-group">
      <button class="btn btn-small" type="submit" id="search_button">{% trans 'Search' %}</button>
      <button class="btn btn-small" id="clear_search">{% trans 'Reset' %}</button>
    </div>
  </div>
</form>

<table class="table table-bordered table-condensed" id="members_table">
  <thead>
    <tr>
      <th class="top" scope="col" >{% trans 'Name' %}</th>
      <th class="top" scope="col" >{% trans 'Nickname' %}</th>
      <th class="top" scope="col" >{% trans 'Player' %}</th>
      <th class="top" scope="col" >{% trans 'Access Level' %}</th>
      <th class="top" scope="col" >{% trans 'Last Login' %}</th>
      <th class="top" scope="col" >{% trans 'Location' %}</th>
      <th class="top" scope="col" >{% trans 'Ship' %}</th>
      <th class="top" scope="col" style="display:none;">{% trans 'Titles' %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="8" class="dataTables_empty">{% trans 'Loading data from server...' %}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Nickname' %}</th>
      <th>{% trans 'Player' %}</th>
      <th>{% trans 'Access Level' %}</th>
      <th>{% trans 'Last Login' %}</th>
      <th>{% trans 'Location' %}</th>
      <th>{% trans 'Ship' %}</th>
      <th style="display:none;">{% trans 'Titles' %}</th>
    </tr>
  </tfoot>

</table>

{% endblock %}



{% block javascripts %}
<script type="text/javascript">
DIRECTOR_ACCESS_LVL = {{ directorAccessLvl }};
COLOR_THRESHOLDS = {{ colorThresholds|safe }};
AJAX_URL = "/hr/roles/{{ role.id }}/data/";
COOKIE_NAME = 'ecm_role_members_table_';
</script>
{% endblock %}

{% block post_javascripts %}
<script type="text/javascript" src="{{ STATIC_URL }}hr/js/members_table.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('div#{{role.id}}').editable( '/hr/roles/update/', {
        callback: function( sValue, y ) {
            $('div#{{role.id}}').text(sValue);
            var color = getAccessColor(parseInt(sValue), COLOR_THRESHOLDS);
            $('div#{{role.id}}').attr('class', 'row-fluid editable bold row-' + color);
        },
        tooltip: '{% trans 'Click to edit...' %}'
    } );

    var color = getAccessColor(parseInt($('div#{{role.id}}').text()), COLOR_THRESHOLDS);
    $('div#{{role.id}}').addClass('row-' + color);
});
</script>
{% endblock %}


