{% extends "ecm/hr/hr_base.html" %}
{% load i18n %}
{% block headtitle %}{% trans 'Roles' %}{% endblock %}



{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/hr/">{% trans 'Human Resources' %}</a></li>
<li class="active"><a href="/hr/roles/">{% trans 'Roles' %}</a></li>
{% endblock %}

{% block main_content %}
<div class="page-header">
    <h1>Roles</h1>
</div>

<div class="btn-toolbar form-search form-inline" >
  <span class="label label-info">{% trans 'Role Category' %}</span>
  <div class="btn-group" data-toggle="buttons-radio" id="buttons">
  {% for rt in role_types %}
    <button class="btn btn-small btn-info" value="{{ rt.id }}">{{ rt.dispName }}</button>
  {% endfor %}
  </div>
</div>

{% datatable 'roles_table' columns 
             css_class='table table-bordered table-condensed' 
             defaults=datatables_defaults 
             sAjaxSource='/hr/roles/data/' 
             sCookiePrefix='ecm_member_access_changes_table_' 
             fnRowCallback='rolesRowCallback'
             fnServerData='rolesServerDataCallback' %}
{% endblock %}


{% block post_javascripts %}
<script>
COLOR_THRESHOLDS = {{ colorThresholds|safe }};
ROLE_TYPE = '{{ role_type }}';

{% include "ecm/hr/roles_datatable.js" %}

$(document).ready(function() {
    $('#buttons button').click(function () {
        ROLE_TYPE = this.value;
        foo = $('#roles_table')
        $('#roles_table').dataTable().fnDraw();
    });
    
    updateButtons();
} );


function updateButtons() {
    $('#buttons button').removeClass('active');
    $('#buttons button[value="' + ROLE_TYPE + '"]').addClass('active');
}


</script>

{% endblock %}

