{% extends "ecm/hr/hr_base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block headtitle %}{% trans 'Titles Modifications History' %}{% endblock %}



{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/hr/">{% trans 'Human Resources' %}</a></li>
<li><a href="/hr/titles/">{% trans 'Titles' %}</a></li>
<li><a href="/hr/titles/changes/">{% trans 'Modifications' %}</a></li>
{% endblock %}

{% block main_content %}
<div class="page-header">
  <h1>{% trans 'Titles Modifications History' %} <small>{% trans 'last update' %} {{ scan_date|ecm_datetime }}</small></h1>
</div>

{% datatable 'title_changes_table' modifiedcolumns 
             css_class='table table-bordered table-condensed' 
             defaults=datatables_defaults 
             sAjaxSource='/hr/titles/changes/data/' 
             fnRowCallback='titleLastModifiedRowCallback' %}
{% endblock %}


{% block post_javascripts %}
<script type="text/javascript">
{% include "ecm/hr/titles_detail_datatable.js" %}

//title_compo_diff_table dataTable setup
$(document).ready(function() {
    $('#title_compo_diff_table thead th').click(function(event) {
        if (!$(event.target).hasClass('sorthandle')) {
            event.shiftKey = false;
        }
    });
});
</script>
{% endblock %}


