{% extends "ecm/hr/hr_base.html" %}
{% load i18n %}
{% block headtitle %}{% trans 'Titles' %}{% endblock %}


{% block main_content %}
<div class="page-header">
    <h1>{% trans 'Corporation Titles' %} <small>{% trans 'last update' %} {{ scan_date|ecm_datetime }}</small></h1>
</div>

{% datatable 'titles_table' columns 
             css_class='table table-bordered table-condensed' 
             defaults=datatables_defaults 
             sDom='rt'
             sAjaxSource='/hr/titles/data/' 
             sCookiePrefix='ecm_members_table_' 
             fnRowCallback='titlesRowCallback' %}
{% endblock %}


{% block post_javascripts %}
<script type="text/javascript">
COLOR_THRESHOLDS = {{ colorThresholds|safe }};

function titlesRowCallback( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
    /* apply color to all access level cells */
    accessLvl = aData[1];
    $('td:eq(1)', nRow).addClass("row-" + getAccessColor(accessLvl, COLOR_THRESHOLDS));
    return nRow;
}

$(document).ready(function() {
    //disable multi column sorting
    $('#titles_table thead th').click(function(event) {
        if (!$(event.target).hasClass('sorthandle')) {
            event.shiftKey = false;
        }
    });
} );

</script>
{% endblock %}

