{% extends "ecm/hr/hr_base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block headtitle %}{% trans 'Title Details' %} - {{ title.titleName }}{% endblock %}


{% block main_content %}
<div class="page-header">
  <h1>{{ title.titleName }}
  {% if title.lastModified %}<small>{% trans 'last modification' %} {{ title.lastModified|ecm_datetime }}</small>{% endif %}
  </h1>
</div>

<a href="/hr/titles/{{ title.titleID }}/members/">{% trans 'Show all' %} {{ member_count }} {% trans 'members having this title' %}</a>

<h2>Access Level</h2>
<div class="row-fluid row-{{ title.color }}"><strong>{{ title.accessLvl }}</strong></div>

<h2>Roles</h2>
{% datatable 'title_composition_table' columns 
             css_class='table table-bordered table-condensed' 
             defaults=datatables_defaults 
             sAjaxSource='/hr/titles/'|concat:title.titleID|concat:'/composition/data/' 
             fnRowCallback='titleCompositionRowCallback'
             iDisplayLength=10 %}

<h2>Modifications</h2>

{% if title.lastModified %}
{% datatable 'title_compo_diff_table' modifiedcolumns 
             css_class='table table-bordered table-condensed' 
             defaults=datatables_defaults 
             sAjaxSource='/hr/titles/'|concat:title.titleID|concat:'/compodiff/data/' 
             fnRowCallback='titleLastModifiedRowCallback'
             iDisplayLength=10 %}
{% else %}
<p>{% trans 'No changes' %}</p>
{% endif %}
{% endblock %}

{% block post_javascripts %}
<script type="text/javascript">
COLOR_THRESHOLDS = {{ colorThresholds|safe }};
{% include "ecm/hr/titles_detail_datatable.js" %}

// title_composition_table dataTable setup
$(document).ready(function() {
  //disable multi column sorting
    $('#title_composition_table thead th').click(function(event) {
        if (!$(event.target).hasClass('sorthandle')) {
            event.shiftKey = false;
        }
    });
});

{% if title.lastModified %}
// title_compo_diff_table dataTable setup
$(document).ready(function() {
    $('#title_compo_diff_table thead th').click(function(event) {
        if (!$(event.target).hasClass('sorthandle')) {
            event.shiftKey = false;
        }
    });
});
{% endif %}
</script>
{% endblock %}
