{% extends "ecm/hr/hr_base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block headtitle %}{% trans 'Title Members' %} - {{ title.titleName }}{% endblock %}


{% block main_content %}
<div class="page-header">
  <h1>Members <small>having the title <em>{{ title.permalink|safe }}</em></small></h1>
</div>

<form id="search_form" class="form-search form-inline">
  <div class="btn-toolbar" >
    <i class="icon-search"></i>
    <input type="text" id="search_text" class="input-medium search-query" value="" />
    <div class="btn-group">
      <button class="btn btn-small" type="submit" id="search_button">{% trans 'Search' %}</button>
      <button class="btn btn-small" id="clear_search">{% trans 'Reset' %}</button>
    </div>
  </div>
</form>

{% datatable 'members_table' columns 
             css_class='table table-bordered table-condensed' 
             defaults=datatables_defaults 
             sAjaxSource='/hr/titles/'|concat:title.id|concat:'/members/data/' 
             sCookiePrefix='ecm_title_members_table_' 
             fnRowCallback='membersRowCallback' 
             fnServerParams='membersServerParams' 
             fnStateSaveParams='membersStateSaveParams' 
             fnStateLoadParams='membersStateLoadParams' %}
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
DIRECTOR_ACCESS_LVL = {{ directorAccessLvl }};
COLOR_THRESHOLDS = {{ colorThresholds|safe }};
{% include "ecm/hr/members_datatable.js" %}
{% include "ecm/hr/search_form.js" %}
</script>
{% endblock %}
