{% extends "ecm/hr/hr_base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block headtitle %}{% trans 'Title Members' %} - {{ title.titleName }}{% endblock %}


{% block breadcrumbs %}
<li><a href="/">{% trans 'Home' %}</a></li>
<li><a href="/hr/">{% trans 'Human Resources' %}</a></li>
<li><a href="/hr/titles/">{% trans 'Titles' %}</a></li>
<li><a href="/hr/titles/{{ title.titleID }}/">{{ title.titleName }}</a></li>
<li class="active"><a href="/hr/titles/{{ title.titleID }}/members/">{% trans 'Members' %}</a></li>
{% endblock %}

{% block main_content %}
<div class="page-header">
  <h1>Members <small>having the title <em>{{ title.titleName }}</em></small></h1>
</div>

<form id="search_form" class="form-search form-inline">
  <div class="btn-toolbar" >
    <i class="icon-search"></i>
    <input type="text" id="search_text" class="input-medium search-query" value="" />
    <div class="btn-group">
      <button class="btn btn-small" type="submit" id="search_button">{% trans 'Search' %}</button>
      <button class="btn btn-small" id="clear_search">{% trans 'Reset' %}</button>
    </div>
  </div>
</form>

<table class="table table-bordered table-condensed" id="members_table">
  <thead>
    <tr>
      <th class="top" scope="col" >{% trans 'Name' %}</th>
      <th class="top" scope="col" >{% trans 'Nickname' %}</th>
      <th class="top" scope="col" >{% trans 'Player' %}</th>
      <th class="top" scope="col" >{% trans 'Access Level' %}</th>
      <th class="top" scope="col" >{% trans 'Corp Date' %}</th>
      <th class="top" scope="col" >{% trans 'Last Login' %}</th>
      <th class="top" scope="col" >{% trans 'Location' %}</th>
      <th class="top" scope="col" style="display:none;">{% trans 'Titles' %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="8" class="dataTables_empty">{% trans 'Loading data from server...' %}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Nickname' %}</th>
      <th>{% trans 'Player' %}</th>
      <th>{% trans 'Access Level' %}</th>
      <th>{% trans 'Corp Date' %}</th>
      <th>{% trans 'Last Login' %}</th>
      <th>{% trans 'Location' %}</th>
      <th style="display:none;">{% trans 'Titles' %}</th>
    </tr>
  </tfoot>
</table>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
DIRECTOR_ACCESS_LVL = {{ directorAccessLvl }};
COLOR_THRESHOLDS = {{ colorThresholds|safe }};
AJAX_URL = "/hr/titles/{{ title.titleID }}/members/data/";
COOKIE_NAME = 'ecm_title_members_table_';
</script>
{% endblock %}
{% block compressed_javascripts %}
<script type="text/javascript" src="{% static 'hr/js/members_table.js' %}"></script>
{% endblock %}
