{% extends "base.html" %}

{% block headtitle %}User Signup{% endblock %}

{% block main_content %}

<h1 class="pagetitle">Create Account</h1>

<form class="signupform" action="/user/create_account" method="post" id="character_form" >{% csrf_token %}
    {% if form.errors %}
    <p class="error">{{ form.non_field_errors }}</p>
    {% endif %} 
    <fieldset>
    
    <h2>General Information</h2>
	    <span class="label">{{ form.username.label_tag }}{{ form.username.errors }}</span>
	    {{ form.username }}
	
	    <span class="label">{{ form.email.label_tag }}{{ form.email.errors }}</span>
	    {{ form.email }}
	
	    <span class="label">{{ form.password1.label_tag }}{{ form.password1.errors }}</span>
	    {{ form.password1 }}
	
	    <span class="label">{{ form.password2.label_tag }}{{ form.password2.errors }}</span>
	    {{ form.password2 }}
	    
	<h2>EVE-Online Account Information</h2>
	    <span class="label">{{ form.userID.label_tag }}{{ form.userID.errors }}</span>
	    {{ form.userID }}
	    <span class="label">{{ form.apiKey.label_tag }}{{ form.apiKey.errors }}</span>
	    {{ form.apiKey }}
	    
	<h2>Anti-Robot Security</h2>
	    <span class="label">{{ form.captcha.label_tag }}{{ form.captcha.errors }}</span>
	    {{ form.captcha }}
	    
	    <input type="submit" class="button" value="Submit Information"  />
    
    </fieldset>
</form>
    

{% endblock %}