{% extends "base.html" %}

{% block headtitle %}User Signup{% endblock %}

{% block main_content %}


<div class="signupform">
 
    <form id="api_form">
    <fieldset>
    <p> <span class="top">{{ form.userID.label_tag }}</span><br />
        <span class="field">{{ form.userID }}</span></p>
    
    <p><span class="top">{{ form.apiKey.label_tag }}</span><br />
        <span class="field">{{ form.apiKey }}</span></p>
    </fieldset>
    </form>
    
    <form id="character_form">
    <fieldset>
    {% for char in form.characters %}
    <p>{{ char.name }} {{ char.corporationName }}</p>
    {% endfor %}
    </fieldset>
    </form>
    
    
</div>


<script type="text/javascript">

$(document).ready(function() {
	$("#api_form").attr('disabled', 'disabled');
}
</script>


{% endblock %}