{% extends "base.html" %}


{% block headtitle %}Enter a Director API Key{% endblock %}


{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="{{ request_path }}">Enter a Director API Key</a></li>
{% endblock %}

{% block main_content %}

<h1 class="pagetitle">Enter a Director API Key</h1>

<form class="signupform" action="{{ request_path }}" method="post" >{% csrf_token %}
    {% if form.errors %}
    <p class="error">{{ form.non_field_errors }}</p>
    {% endif %}
    <fieldset>
        <span class="label">{{ form.keyID.label_tag }}{{ form.keyID.errors }}</span>
        {{ form.keyID }}
        <span class="label">{{ form.vCode.label_tag }}{{ form.vCode.errors }}</span>
        {{ form.vCode }}
        <span class="label">{{ form.characterID.label_tag }}{{ form.characterID.errors }}</span>
        {{ form.characterID }}
        <input type="submit" class="button" value="Submit Information"  />
    </fieldset>
</form>

{% endblock %}
