{% extends "base.html" %}


{% block headtitle %}Password Change{% endblock %}

{% block menu %}{% endblock %}

{% block main_content %}

{% block pagetitle %}{% endblock %}

<div class="loginform">

    <form action="" method="post">
    {% csrf_token %}
        <div>
            <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

            {% if form.errors %}
            <p class="errornote">Please correct the errors below.</p>
            {% endif %}

            <fieldset>
                <p> <span class="top">Old password:</span><br />
                    <span class="field">{{ form.old_password }}</span>
                    {{ form.old_password.errors }}</p>
                <p> <span class="top">New password:</span><br />
                    <span class="field">{{ form.new_password1 }}</span>
                    {{ form.new_password1.errors }}</p>
                <p> <span class="top">Password (again):</span><br />
                    <span class="field">{{ form.new_password2 }}</span>
                    {{ form.new_password2.errors }}</p>
                    <p><input type="submit" name="cmdweblogin" class="button" value="Change my password"  /></p>
            </fieldset>

            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
        </div>
    </form>
</div>

{% endblock %}
