{% extends "base.html" %}

{% block headtitle %}Home{% endblock %}

{% block breadcrumbs %}
<li>Home</li>
{% endblock %}

{% block main_content %}
<h1>Last Member Moves</h1>
<ul>
{% for m in members %}
  <li class="{% if m.new %}green{% else %}red{% endif %}">
                       <span class="bold">{{      m.name                       }}</span>
    {% if m.nickname %}<span class="italic"> ({{  m.nickname|truncatewords:"5" }})</span>{% endif %}
                       <span class="time"> - {{   m.date                       }}</span></li>
{% endfor %}
</ul>
{% endblock %}
