{% extends "base.html" %}

{% block headtitle %}Member Details - {{ member.name }}{% endblock %}



{% block header_scripts %}

{% endblock %}


{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/members">Members</a></li>
<li><a href="/members/{{ member.characterID }}">{{ member.name }}</a></li>
{% endblock %}

{% block main_content %}
<h1 class="pagetitle">{{ member.name }}</h1>
<p class="italic" >{{ member.nickname }}</p>
<p>
  <span class="bold">Corp Date:</span> {{ member.corpDate }}<br/>
  <span class="bold">Last Login:</span> {{ member.lastLogin }}<br/>
  <span class="bold">Last Logoff:</span> {{ member.lastLogoff }}
</p>
<p>Last seen in <b>{{ member.location }}</b> in a <b>{{ member.ship }}</b> on {{ scan_date }}</p>

<h2>Access Level</h2>

<table class="table" ><tr class="row">
<td class="row-{{ member.color }}">
  <b>
    {% if member.is_director %}
    DIRECTOR
    {% else %}
    {{ member.accessLvl }}
    {% endif %}
  </b>
</td>
</tr></table>


<h2>Base Office</h2>
{% if member.baseID %}
{{ member.base }}
{% else %}
None
{% endif %}

<table class="transparent">
  <tr>
    <td>
      <h2>Titles</h2>
      <ul>
      {% for title in member.titles %}
        <li>{{ title }}</li>
        {% empty %}
        <p>No titles</p>
      {% endfor %}
      </ul>
    </td>
    <td>
      <h2>Titles Changes</h2>
      <ul>
      {% for change in member.title_changes %}
        <li class="{% if change.new %}green{% else %}red{% endif %}">{{ change.title }}
          <span class="time">- {{ change.date }}</span></li>
        {% empty %}
        <p>No titles changes</p>
      {% endfor %}
      </ul>
    </td>
  </tr>
</table>

<h2>Extra Roles</h2>
<ul>
{% for role in member.roles %}
<li>{{ role }}</li>
{% empty %}
<p>No extra roles</p>
{% endfor %}
</ul>

{% endblock %}
