{% extends "base.html" %}

{% block headtitle %}Members{% endblock %}



{% block header_scripts %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/static/css/tablesorter.css" />
<script type="text/javascript">

$.tablesorter.addParser({ 
    // set a unique id 
    id: 'accessLvl', 
    is: function(s) { 
        // return false so this parser is not auto detected 
        return false; 
    }, 
    format: function(s) { 
        // format your data for normalization
        if (s.indexOf("DIRECTOR") > -1) {
            return 9999999999999;
        } else {
            return s;
        }
    }, 
    // set type, either numeric or text 
    type: 'numeric' 
});


$(document).ready(function() { 
    $("#members_table").tablesorter({
            sortList : [[0,0]] , 
            headers : {2: {sorter : "accessLvl"}, 
                       3: {sorter : "digit"}} 
    }); 
});


function filter (phrase, _id){
	var words = phrase.value.toLowerCase().split(" ");
	var table = document.getElementById(_id);
	var ele;
	for (var r = 1; r < table.rows.length; r++){
		ele = table.rows[r].innerHTML.replace(/<[^>]+>/g,"");
		var displayStyle = 'none';
		for (var i = 0; i < words.length; i++) {
			if (ele.toLowerCase().indexOf(words[i])>=0) {
				displayStyle = '';
			} else {
				displayStyle = 'none';
				break;
			}
		}
		table.rows[r].style.display = displayStyle;
	}
}
</script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/members">Members</a></li>
{% endblock %}

{% block main_content %}
<p class="center">{{ member_list|length }} members found on {{ scan_date }}</p>


<form class="filter">
    <input 
        type="text" 
        name="filt" 
        title="Type any string to filter out the lines in the table. The filter is not case sensitive and searches through all the columns." 
        id="filterstring" 
        value="Filter" 
        onkeyup="filter(this, 'members_table', '1')" 
        onclick="document.getElementById('filterstring').select()" />
</form>


<table id="members_table">
  <thead> 
    <tr>
      <th class="top" scope="col" >Name</th>
      <th class="top" scope="col" >Nickname</th>
      <th class="top" scope="col" >Access Level</th>
      <th class="top" scope="col" >Extra Roles</th>
      <th class="top" scope="col" >Corp Date</th>
      <th class="top" scope="col" >Last Login</th>
      <th class="top" scope="col" >Location</th>
      <th class="top" scope="col" >Ship</th>
    </tr>
  </thead>
  <tbody> 
{% for m in member_list %}
    <tr class="row">
      <td class="left"><a href="/members/{{ m.characterID }}">{{ m.name }}</a></td>
      <td>{{ m.nickname|truncatewords:"6" }}</td>
      <td class="row-{{ m.color }}">{% if m.is_director %}<b>DIRECTOR</b>{% else %}{{ m.accessLvl }}{% endif %}</td>
      <td {% if m.extraRoles %}class="row-red"{% endif %}>{{ m.extraRoles }}</td>
      <td>{{ m.corpDate }}</td>
      <td>{{ m.lastLogin }}</td>
      <td>{{ m.location|truncatewords:"5" }}</td>
      <td>{{ m.ship }}</td>
    </tr>
{% endfor %}
  </tbody> 
</table>

{% endblock %}
