{% extends "base.html" %}

{% block headtitle %}Home{% endblock %}



{% block header_scripts %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/static/css/tablesorter.css" />
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#members_table").tablesorter( {sortList : [[0,0]]} , 
                                        {cssHeader : "hdr"} ,
                                           {cssAsc : "hdrSortUp"} ,
                                          {cssDesc : "hdrSortDown"} ); 
    } 
);


function filter (phrase, _id){
	var words = phrase.value.toLowerCase().split(" ");
	var table = document.getElementById(_id);
	var ele;
	for (var r = 1; r < table.rows.length; r++){
		ele = table.rows[r].innerHTML.replace(/<[^>]+>/g,"");
		var displayStyle = 'none';
		for (var i = 0; i < words.length; i++) {
			if (ele.toLowerCase().indexOf(words[i])>=0) {
				displayStyle = '';
			} else {
				displayStyle = 'none';
				break;
			}
		}
		table.rows[r].style.display = displayStyle;
	}
}
</script>
{% endblock %}


{% block breadcrumbs %}
<li>Members</li>
<li>List</li>
{% endblock %}

{% block main_content %}
<p class="center">{{ member_list|length }} members found on {{ scan_date }}</p>


<form class="filter">
    <input 
        type="text" 
        name="filt" 
        title="Type any string to filter out the lines in the table. The filter is not case sensitive and searches through all the columns." 
        id="filterstring" 
        value="Filter" 
        onkeyup="filter(this, 'members_table', '1')" 
        onclick="document.getElementById('filterstring').select()">
    </input>
</form>


<table id="members_table">
  <thead> 
    <tr>
      <th class="top" scope="col" width="15%">Name</th>
      <th class="top" scope="col" width="20%">Nickname</th>
      <th class="top" scope="col" width="5%" >Access Level</th>
      <th class="top" scope="col" width="10%">Corp Date</th>
      <th class="top" scope="col" width="10%">Last Login</th>
      <th class="top" scope="col" width="10%">Last Logoff</th>
      <th class="top" scope="col" width="20%">Location</th>
      <th class="top" scope="col" width="10%">Ship</th>
    </tr>
  </thead>
  <tbody> 
{% for m in member_list %}
    <tr class="row">
      <td class="left">{{ m.name }}</th>
      <td>{{ m.nickname|truncatewords:"6" }}</td>
      <td class="{{ m.color }}">{{ m.accessLvl }}</td>
      <td>{{ m.corpDate }}</td>
      <td>{{ m.lastLogin }}</td>
      <td>{{ m.lastLogoff }}</td>
      <td>{{ m.location|truncatewords:"5" }}</td>
      <td>{{ m.ship }}</td>
    </tr>
{% endfor %}
  </tbody> 
</table>

{% endblock %}
