{% extends "base.html" %}

{% block headtitle %}Members History{% endblock %}



{% block header_scripts %}
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/static/css/demo_table.css" />

<script type="text/javascript" src="/static/js/history_table.js"></script>
{% endblock %}



{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/members">Members</a></li>
<li><a href="/members/history">History</a></li>
{% endblock %}





{% block main_content %}
<h1 class="pagetitle">Members History <span class="time">- last update {{ scan_date }}</span></h1>

<table class="table display" id="history_table">
  <thead> 
    <tr>
      <th class="top" scope="col" >Corped/Leaved</th>
      <th class="top" scope="col" >Name</th>
      <th class="top" scope="col" >Nickname</th>
      <th class="top" scope="col" >Date</th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <td colspan="4" class="dataTables_empty">Loading data from server...</td>
    </tr>
  </tbody> 
  <tfoot> 
    <tr>
      <th>Corped/Leaved</th>
      <th>Name</th>
      <th>Nickname</th>
      <th>Date</th>
    </tr>
  </tfoot>

</table>


{% endblock %}
