{% extends "base.html" %}

{% block headtitle %}Roles{% endblock %}



{% block header_scripts %}
<script type="text/javascript" src="/static/js/lib/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/lib/jquery.jeditable.js"></script>
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/static/css/demo_table.css" />

<script type="text/javascript">
const colorThresholds = {{ colorThresholds|safe }};
var role_category = {{ role_category }};
</script>
<script type="text/javascript" src="/static/js/roles_table.js"></script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/roles">Roles</a></li>
{% endblock %}

{% block main_content %}
<h1 class="pagetitle">Roles <span class="time">- <span id="role_category">{{ role_category }}</span></span></h1>



<table class="table display" id="roles_table">
  <thead> 
    <tr>
      <th class="top" scope="col" >Role Name</th>
      <th class="top" scope="col" >Description</th>
      <th class="top" scope="col" >Access Level</th>
      <th class="top" scope="col" >Members</th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <td colspan="4" class="dataTables_empty">Loading data from server...</td>
    </tr>
  </tbody> 
  <tfoot> 
    <tr>
      <th>Role Name</th>
      <th>Description</th>
      <th>Access Level</th>
      <th>Members</th>
    </tr>
  </tfoot>
</table>


{% endblock %}
