{% extends "base.html" %}

{% block headtitle %}Stations{% endblock %}



{% block header_scripts %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/static/css/tablesorter.css" />
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#stations_table").tablesorter( {sortList : [[0,0]]} ); 
    } 
);


function filter (phrase, _id){
	var words = phrase.value.toLowerCase().split(" ");
	var table = document.getElementById(_id);
	var ele;
	for (var r = 1; r < table.rows.length; r++){
		ele = table.rows[r].innerHTML.replace(/<[^>]+>/g,"");
		var displayStyle = 'none';
		for (var i = 0; i < words.length; i++) {
			if (ele.toLowerCase().indexOf(words[i])>=0) {
				displayStyle = '';
			} else {
				displayStyle = 'none';
				break;
			}
		}
		table.rows[r].style.display = displayStyle;
	}
}
</script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="/assets/" >Assets</a></li>
<li><a href="/assets/" >Stations</a></li>
{% endblock %}

{% block main_content %}
<p class="center">{{ station_list|length }} stations found on {{ scan_date }}</p>


<form class="filter">
    <input 
        type="text" 
        name="filt" 
        title="Type any string to filter out the lines in the table. The filter is not case sensitive and searches through all the columns." 
        id="filterstring" 
        value="Filter" 
        onkeyup="filter(this, 'stations_table', '1')" 
        onclick="document.getElementById('filterstring').select()">
    </input>
</form>


<table id="stations_table">
  <thead> 
    <tr>
      <th class="top" scope="col" width="80%">Station</th>
      <th class="top" scope="col" width="20%">Items</th>
    </tr>
  </thead>
  <tbody> 
{% for s in station_list %}
    <tr class="row">
      <td class="left"><a href="/assets/{{ s.locationID }}/" >{{ s.name }}</a></td>
      <td>{{ s.items }}</td>
    </tr>
{% endfor %}
  </tbody> 
</table>

{% endblock %}
