{% extends "base.html" %}

{% block headtitle %}{{ station_name }}{% endblock %}



{% block header_scripts %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/static/css/tablesorter.css" />
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#items_table").tablesorter( {sortList : [[0,0],[1,0]]} ); 
    } 
);


function filter (phrase, _id){
	var words = phrase.value.toLowerCase().split(" ");
	var table = document.getElementById(_id);
	var ele;
	for (var r = 1; r < table.rows.length; r++){
		ele = table.rows[r].innerHTML.replace(/<[^>]+>/g,"");
		var displayStyle = 'none';
		for (var i = 0; i < words.length; i++) {
			if (ele.toLowerCase().indexOf(words[i])>=0) {
				displayStyle = '';
			} else {
				displayStyle = 'none';
				break;
			}
		}
		table.rows[r].style.display = displayStyle;
	}
}
</script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="/assets/" >Assets</a></li>
<li><a href="/assets/" >Stations</a></li>
<li>{{ station_name }}</li>
{% endblock %}

{% block main_content %}
<p class="center">{{ item_list|length }} items found in {{ station_name }}</p>


<form class="filter">
    <input 
        type="text" 
        name="filt" 
        title="Type any string to filter out the lines in the table. The filter is not case sensitive and searches through all the columns." 
        id="filterstring" 
        value="Filter" 
        onkeyup="filter(this, 'items_table', '1')" 
        onclick="document.getElementById('filterstring').select()">
    </input>
</form>


<table id="items_table">
  <thead> 
    <tr>
      <th class="top" scope="col" width="30%">Hangar</th>
      <th class="top" scope="col" width="50%">Item</th>
      <th class="top" scope="col" width="20%">Quantity</th>
    </tr>
  </thead>
  <tbody> 
{% for i in item_list %}
    <tr class="row">
      <td>{{ i.hangar }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.quantity }}</td>
    </tr>
{% endfor %}
  </tbody> 
</table>

{% endblock %}
