{% extends "base.html" %}

{% block headtitle %}Titles{% endblock %}



{% block header_scripts %}
<script type="text/javascript">
function filter (phrase, _id){
    var words = phrase.value.toLowerCase().split(" ");
    var table = document.getElementById(_id);
    var ele;
    for (var r = 1; r < table.rows.length; r++){
        ele = table.rows[r].innerHTML.replace(/<[^>]+>/g,"");
        var displayStyle = 'none';
        for (var i = 0; i < words.length; i++) {
            if (ele.toLowerCase().indexOf(words[i])>=0) {
                displayStyle = '';
            } else {
                displayStyle = 'none';
                break;
            }
        }
        table.rows[r].style.display = displayStyle;
    }
}
</script>
{% endblock %}


{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/titles">Titles</a></li>
{% endblock %}

{% block main_content %}
<h1 class="pagetitle">Corporation Titles <span class="time">- last update {{ scan_date }}</span></h1>

<form class="filter">
    <input 
        type="text" 
        name="filt" 
        title="Type any string to filter out the lines in the table. The filter is not case sensitive and searches through all the columns." 
        id="filterstring" 
        value="Filter" 
        onkeyup="filter(this, 'titles_table', '1')" 
        onclick="document.getElementById('filterstring').select()">
    </input>
</form>

<table id="titles_table">
  <thead> 
    <tr>
      <th class="top" scope="col" >Role Name</th>
      <th class="top" scope="col" >Access Level</th>
{% for t in title_list %}
      <th class="top title-col" scope="col" ><img src="{{ t.icon }}"></img></th>
{% endfor %}
    </tr>
  </thead>
  <tbody> 
    <tr class="row">
    <td class="left" >Access Level</td>
      <td>-</td>
    {% for t in title_list %}
      <td class="row-{{ t.color }}" title="{{ t.name }}">{{ t.accessLvl }}</td>
    {% endfor %}
    </tr>
{% for r in role_list %}
    <tr class="row">
      <td class="left" title="{{ r.description }}">{{ r.name }}</td>
      <td>{{ r.accessLvl }}</td>
  {% for t in title_list %}
      <td class="title-col" title="{{ t.name }}">
        {% if r.id in t.roles %}
        <img src="/static/img/redlens.png"></img>
        {% endif %}
      </td>
  {% endfor %}
    </tr>
{% endfor %}
  </tbody> 
</table>

{% endblock %}
