{% extends "base_site.html" %}
{% load i18n %}

{% block content_title %}<h1>All Titles</h1>{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>
{% endblock %}

{% block content %}
  {% if corp_titles %}
  <table>
    <tr>
      <th></th>
    {% for t in corp_titles %}
      <th>{{ t.titleName }}</th>
    {% endfor %}
    </tr>
    {% for r in roles %}
      <tr>
        <th>{{ r.dispName }}</th>
        {% for t in corp_titles %}
          {% if t in r.titles %}
        <td class="cell-has-role" title="{{ t.titleName }}"></td>
          {% else %}
        <td class="cell-no-role" title="{{ t.titleName }}"></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No Corporation Titles to display</p>
  {% endif %}
{% endblock %}
