{% extends "base.html" %}

{% block headtitle %}Titles Modifications History{% endblock %}



{% block header_scripts %}
<script type="text/javascript" src="/m/js/lib/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/m/css/jquery.dataTables.css" />
<script type="text/javascript" src="/m/js/access_color.js"></script>
<script type="text/javascript" src="/m/js/title_changes_table.js"></script>

{% endblock %}



{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/titles">Titles</a></li>
<li><a href="/titles/changes">Modifications</a></li>
{% endblock %}





{% block main_content %}
<h1 class="pagetitle">Titles Modifications History <span class="time">- last update {{ scan_date }}</span></h1>

<table class="table display" id="title_changes_table">
  <thead>
    <tr>
      <th class="top" scope="col" >Change</th>
      <th class="top" scope="col" >Title</th>
      <th class="top" scope="col" >Role</th>
      <th class="top" scope="col" >Date</th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <td colspan="4" class="dataTables_empty">Loading data from server...</td>
    </tr>
  </tbody> 
  <tfoot> 
    <tr>
      <th>Change</th>
      <th>Member</th>
      <th>Role</th>
      <th>Date</th>
    </tr>
  </tfoot>
</table>


{% endblock %}
