{% extends "base.html" %}

{% block headtitle %}Members History{% endblock %}



{% block header_scripts %}
<script type="text/javascript" src="/m/js/lib/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="/m/css/jquery.dataTables.css" />
{% endblock %}



{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li><a href="/members">Members</a></li>
<li><a href="/members/access_changes">Security Access Changes</a></li>
{% endblock %}





{% block main_content %}
<h1 class="pagetitle">Security Access Changes <span class="time">- last update {{ scan_date }}</span></h1>

<script type="text/javascript" src="/m/js/access_changes_table.js"></script>
<table class="table display" id="access_changes_table">
  <thead> 
    <tr>
      <th class="top" scope="col" >Change</th>
      <th class="top" scope="col" >Member</th>
      <th class="top" scope="col" >Title/Role</th>
      <th class="top" scope="col" >Date</th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <td colspan="3" class="dataTables_empty">Loading data from server...</td>
    </tr>
  </tbody> 
  <tfoot> 
    <tr>
      <th>Change</th>
      <th>Member</th>
      <th>Title/Role</th>
      <th>Date</th>
    </tr>
  </tfoot>
</table>


{% endblock %}
