/*************************************************************/
/*   Design:   Multiflex-3 Update-4 / Layout-1               */
/*   File:     Text formats                                  */
/*-----------------------------------------------------------*/
/*   Author:   Wolfgang                                      */
/*   Date:     December 11, 2006                             */
/*   Homepage: wwww.1-2-3-4.info                             */
/*-----------------------------------------------------------*/
/*   License:  Fully open source without restrictions.       */
/*             Please keep footer credits with a link to     */
/*             Wolfgang (www.1-2-3-4.info). Thank you!       */
/*************************************************************/

/******************/
/*  MAIN SECTION  */
/******************/

/* MAIN CONTENT */
.main-content h1.pagetitle {margin:0 0 0.4em 0; padding:0 0 2px 0; border-bottom:solid 7px rgb(225,225,225); font-family:"trebuchet ms",arial,sans-serif; color:rgb(100,100,100); font-weight:bold; font-size:220%;}
.main-content h1.pagetitle.error{color:#fff; background-color:#f00; padding:0 0 2px 4px; }
.main-content h1.block {clear:both; margin:1.0em 0 0em 0; padding:2px 0 2px 2px; background:rgb(190,190,190); font-family:"trebuchet ms",arial,sans-serif; color:rgb(255,255,255); font-weight:bold; font-size:220%;}
.main-content h1 {clear:both; margin:1.0em 0 0.5em 0; font-family:"trebuchet ms",arial,sans-serif; color:rgb(80,80,80); font-weight:normal; font-size:210%;}
.main-content h2 {clear:both; margin:1.0em 0 0.5em 0; font-family:"trebuchet ms",arial,sans-serif; color:rgb(80,80,80); font-weight:normal; font-size:170%;}
.main-content h3 {clear:both; margin:-1.0em 0 0.5em 0; font-family:"trebuchet ms",arial,sans-serif; color:rgb(125,125,125); font-weight:normal; font-size:130%;}
.main-content h1.side {clear:none;}
.main-content h2.side {clear:none;}
.main-content h3.side {clear:none;}

.main-content h4 {margin:1.5em 0 1.0em 0; color:rgb(80,80,80); font-family:"trebuchet ms",arial,sans-serif; font-weight:normal; font-size:170%;}
.main-content h5 {margin:1.5em 0 1.0em 0; color:rgb(80,80,80); font-family:"trebuchet ms",arial,sans-serif; font-size:140%;}
.main-content h6 {margin:1.2em 0 0.2em 0; color:rgb(80,80,80); font-weight:bold; font-size:120%;}
.main-content p {margin:0 0 1.0em 0; line-height:1.5em; font-size:120%;}
.main-content p.center {text-align:center;}
.main-content p.right {text-align:right;}
.main-content p.details {clear:both; margin:-0.25em 0 1.0em 0; line-height:1.0em; font-size:110%;}
.main-content blockquote {clear:both; margin:0 30px 0.6em 30px; font-size:90%;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
.time{color:#aaa;}
.ok{color: rgb(0,170,0);}
.error{color: #f00;}
.center {text-align:center;}
.right {text-align:right !important;}
.credit {color: green;}
.debit {color: red;}
.blue {color: blue;}
.clickable {
    cursor: pointer;
    * cursor: hand;
}
.order_table th {
	border-bottom: solid 1px rgb(99,99,99);
}

.main-content a.title {
	padding-left: 14px;
	background: url(../img/title.png) no-repeat left;
}
.main-content a.role {
	padding-left: 14px;
    background: url(../img/role.png) no-repeat left;
}

.main-content a.member {
    padding-left: 14px;
    background: url(../img/member.png) no-repeat left;
}

.main-content a.player {
    padding-left: 18px;
    background: url(../img/user.png) no-repeat left;
}

.main-content a.wallet {
    padding-left: 18px;
    background: url(../img/wallet.png) no-repeat left;
}

/**********/
/* TABLES */
/**********/

.main-content table.table {
	width:100%;
    margin-top:1.0em;
    margin-bottom:0.2em;
    border-collapse:collapse;
    empty-cells:show;
    font-size:110%;
    background-color:rgb(233,233,233);
    color:rgb(80,80,80);
}


.main-content table.table thead tr .header {
	height:3.5em;
    padding:0 20px 0 7px;
    border-collapse:collapse;
    empty-cells:show;
    text-align:left;
    color:rgb(255,255,255);
    font-weight:bold;
	background-image: url(../img/sort-none.gif);
	background-repeat: no-repeat;
	background-position: center right;
    background-color:rgb(175,175,175);
	cursor: pointer;
    font-family:verdana,arial,sans-serif;
    border-left:solid 2px rgb(255,255,255);
    border-right:solid 2px rgb(255,255,255);
    border-top:solid 2px rgb(255,255,255);
    border-bottom:solid 2px rgb(255,255,255);
}

.main-content table.table thead tr .headerSortUp {
	background-image: url(../img/sort-asc.gif);
	background-color:rgb(155,155,155);
}

.main-content table.table thead tr .headerSortDown {
	background-image: url(../img/sort-desc.gif);
	background-color:rgb(155,155,155);
}

.main-content table.table td.left {
    height:3.0em;
    border-left:solid 2px rgb(255,255,255);
    border-right:solid 2px rgb(255,255,255);
    border-top:solid 2px rgb(255,255,255);
    border-bottom:solid 2px rgb(255,255,255);
    text-align:left;
    font-weight:bold;
}

/*.main-content table.table tr.row { background-color:#e1e1e1; }*/
/*.main-content table.table tr.row:hover { background-color:#CCCCCC; }*/


.row-white { background-color: #E5ECF9; }

/*.row-blue { background-color: #dafffd; }*/
.row-blue { background-color: #aff4f1; }

/*.row-green { background-color: #d2ffde; }*/
.row-green { background-color: #aff2c1; }

/*.row-yellow { background-color:#ffffc6;}*/
.row-yellow { background-color:#f5f583; }

/*.row-orange { background-color:#ffe7c6;}*/
.row-orange { background-color:#ffd69a; }

/*.row-red { background-color:#ffc4c4;}*/
.row-red { background-color:#ffa1a1; }

/*.row-purple { background-color:#e4d3ff;}*/
.row-purple { background-color:#c8aaf6; }

/*.row-black { background-color: #1e1e1e; color: #fff; }*/
.row-black { background-color: #1e1e1e; color: #fff; }


.main-content table.table td {
    height:2.0em;
    padding:0px 5px 0px 5px;
    border-left:solid 2px rgb(255,255,255);
    border-right:solid 2px rgb(255,255,255);
    border-top:solid 2px rgb(255,255,255);
    border-bottom:solid 2px rgb(255,255,255);
    text-align:left; font-weight:normal;
    vertical-align:middle;  
}
.main-content table.table td img{
	border:0px;
    background-position:center;
}
.main-content table.table thead tr .top { 
	font-size: 120%; 
	background-color:rgb(155,155,155);  
	vertical-align: baseline; 
	color: #fff; 
	border-left:solid 2px rgb(255,255,255);
    border-right:solid 2px rgb(255,255,255);
    border-top:solid 2px rgb(255,255,255);
    border-bottom:solid 2px rgb(255,255,255);
}
.main-content table.table thead tr .title-col img { border: none;  padding: 0px;}
.main-content table.table thead tr .title-col { width: 24px;  padding: 0px;  text-align:center; vertical-align: baseline;}
.main-content table.table tbody tr .title-col img { border: none; padding: 0px;  }
.main-content table.table tbody tr .title-col { width: 24px; text-align: center; padding: 0px;  text-align:center; vertical-align: middle; }

.main-content table.transparent {
    width:100%;
    border-collapse:collapse;
    empty-cells:show;
}

.main-content table.transparent th {
    margin:1.0em;
    border-collapse:collapse;
    empty-cells:show;
    text-align:left;
    font-weight: bold;
    font-size: 120%;
}

.main-content table.transparent td {
    margin:1.0em;
    border-collapse:collapse;
    empty-cells:show;
    text-align:left;
}

.main-content table.transparent img {
    text-align:center;
    display:inline;
    border: none;
}


/***********
 *  LISTS  *
 ***********/
 
.main-content ul {list-style:none; margin:0.5em 0 1.0em 0;}
.main-content ul li {
    margin:0 0 0.2em 2px; 
    padding:0 0 0 12px; 
    line-height:1.4em; 
   /* font-size:120%; */
    list-style-image: url(../img/bg_bullet_arrow.gif);
}
.main-content ul li.green {
    list-style-image:url(../img/plus.png);
}
.main-content ul li.red {
    list-style-image:url(../img/minus.png);
}
.main-content ol {margin:0.5em 0 1.0em 20px !important /*Non-IE6*/; margin:0.5em 0 1.0em 25px /*IE6*/;}
.main-content ol li {list-style-position:outside; margin:0 0 0.2em 0; line-height:1.4em; font-size:120%;}



/***********
 *  FORMS  *
 ***********/


form.filter {height:2em;width:400px;margin-top:10px;color:rgb(160,160,160);font-size:110%;font-weight: bold;}
form.filter input { border:1px solid #AAAAAA; background-color:#EEEEEE; width:300px; font-weight: bold; color:rgb(160,160,160);font-size:120%;}


.contactform {width:418px; margin:2.0em 0 0 0; padding:10px 10px 0 10px; border:solid 1px rgb(200,200,200); background-color:rgb(240,240,240);}
.contactform fieldset {padding:20px 0 0 0 !important /*Non-IE6*/; padding:0 /*IE6*/; margin:0 0 20px 0; border:solid 1px rgb(220,220,220);}
.contactform fieldset legend {margin:0 0 0 5px !important /*Non-IE*/; margin:0 0 20px 5px /*IE6*/; padding:0 2px 0 2px; color:rgb(80,80,80); font-weight:bold; font-size:130%;}
.contactform label.left {float:left; width:100px; margin:0 0 0 10px; padding:2px; font-size:110%;}
.contactform select.combo {width:175px; padding:2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;}
.contactform input.field {width:275px; padding:2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;}
.contactform textarea {width:275px; padding:2px; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;}
.contactform input.button {float:right; width:9.0em; margin-right:20px; padding:1px !important /*Non-IE6*/; padding:0 /*IE6*/; background:rgb(230,230,230); border:solid 1px rgb(150,150,150); text-align:center; font-family:verdana,arial,sans-serif; color:rgb(150,150,150); font-size:110%;}
.contactform input.button:hover {cursor: pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}

.loginform {margin:10px auto 0 auto; width:500px; font-size: 110%; text-align: center;}
.loginform fieldset {border:none; margin: 10px auto 0 auto; width:300px;}
.loginform span.label { clear:both; display:block; }
.loginform span.label ul.errorlist { display:inline-block; margin: 0; padding: 0; font-weight:bold; color:rgb(255,0,0);  }
.loginform span.label ul.errorlist li { display:inline-block; list-style:none; padding: 0; margin: 0;}
.loginform label {float:left; width:auto; margin:0 auto 0 auto; 0 0;}
.loginform input { clear: both; float: left; margin:0 auto 5px auto; width:auto; padding:0.1em 0 0.2em 0; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;}
.loginform input.checkbox {float:left; margin:5px auto 0 auto; border:none;}
.loginform input.button {float:left; margin:10px auto 5px auto; padding:3px 5px; background:rgb(230,230,230); border:solid 1px rgb(150,150,150); text-align:center; font-family:verdana,arial,sans-serif; color:rgb(150,150,150); font-size:110%;}
.loginform input.button:hover {cursor:pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}

.signupform {margin:10px 20px 0 20px; font-size: 110%;}
.signupform fieldset {border:none; margin: 10px auto 0 auto;}
.signupform span.label { clear:both; display:block; }
.signupform span.label ul.errorlist { display:inline-block; margin: 0; padding: 0; font-weight:bold; color:rgb(255,0,0);  }
.signupform span.label ul.errorlist li { display:inline-block; list-style:none; padding: 0; margin: 0;}
.signupform label {float:left; width:auto; margin:0 1em 0 0; 0 0;}
.signupform input { clear: both; float: left; margin:0 0 5px 0; width:auto; padding:0.1em 0 0.2em 0; border:solid 1px rgb(200,200,200); font-family:verdana,arial,sans-serif; font-size:110%;}
.signupform input.checkbox {float:left; margin:5px 0 0 0 ; border:none;}
.signupform input.button {float:left; margin:10px 0 5px 0; padding:3px 5px; background:rgb(230,230,230); border:solid 1px rgb(150,150,150); text-align:center; font-family:verdana,arial,sans-serif; color:rgb(150,150,150); font-size:110%;}
.signupform input.button:hover {cursor:pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}
.signupform img.captcha {clear:both; float:left; margin:0 5px 5px 0; border:1px solid rgb(150,150,150);}











.search_form input.button {margin:10px 0 5px 0; padding:1px 5px; background:rgb(230,230,230); border:solid 1px rgb(150,150,150); text-align:center; font-family:verdana,arial,sans-serif; color:rgb(150,150,150);}
.search_form input.button:hover {cursor:pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80); }
.search_form input.button.selected { border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80); }
.search_form label {margin-left: 1em; size: 110%; }
.filter_form {clear:both; width:auto; margin: 10px 0 10px 0; float:left;}
.filter_form div {display:inline; }
.filter_form div span {display:inline; padding:3px;}
.filter_form input.button {padding:1px 5px; background:rgb(230,230,230); border:solid 1px rgb(150,150,150); text-align:center; font-family:verdana,arial,sans-serif; color:rgb(150,150,150); }
.filter_form input.button:hover {cursor:pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}



/********************/
/*  COMMON CLASSES  */
/********************/
.main img { }
.main img.center {clear:both; float:none; margin:0; padding:1px; border:1px solid rgb(150,150,150);}
.main img.right {clear:both; float:right; margin:3px 0 7px 10px; padding:1px; border:1px solid rgb(150,150,150);}

.main a {color:rgb(70,122,167); font-weight:bold; text-decoration:none;}
.main-content h1 a {color:rgb(70,122,167); font-weight:normal; text-decoration:none;}
.main a:hover {color:rgb(42,90,138); text-decoration:underline;}
.main a:visited {color:rgb(42,90,138);}

.main a img {border:solid 1px rgb(150,150,150);}
.main a:hover img {border:solid 1px rgb(220,220,220);}
