<!-- {% block page %}{% endblock %} -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<!--  EVE Corporation Management     -->
<!--  Date:    May 14, 2010       -->
<!--  Author:  diabeteman         -->

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="3600" />
  <meta name="revisit-after" content="2 days" />
  <meta name="author" content="diabeteman" />
  <link rel="stylesheet" type="text/css" media="screen,projection,print" href="/static/css/layout1_setup.css" />
  <link rel="stylesheet" type="text/css" media="screen,projection,print" href="/static/css/layout1_text.css" />
  <script type="text/javascript" src="/static/js/lib/jquery.js"></script>
  <link rel="icon" type="image/png" href="/static/img/favicon.png" />
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />
  <title>ECM - {% block headtitle %}{% endblock %}</title>
  {% block header_scripts %}{% endblock %}
</head>

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->
<body>
  <!-- Main Page Container -->
  <div class="page-container">

    <!-- A. HEADER -->      
    <div class="header">
      
      <!-- A.1 HEADER MIDDLE -->
      <div class="header-middle">    
   
        <!-- Sitelogo and sitename -->
        <a class="sitelogo" href="/" title="Go to Start page"></a>
        <div class="sitename">
          <h1><a href="/corp" title="Go to Corporation Details">{{ corp_name }}</a></h1>
          <h2>EVE Corporation Management</h2>
        </div>

        <!-- logged user -->
        <div class="nav0">
            {% if user.is_authenticated %}Logged in as <b>{{ user.username }}</b>
            {% else %}Please log in.
            {% endif %}
        </div>
        <!-- header links -->
        <div class="nav1">
          <ul>
            {% if user.is_authenticated %}
            <li><a href="/user/logout" title="Log out from ECM">Logout</a></li>
            <li><a href="/user/change_password" >Change Password</a></li>
            {% endif %}
            <li><a href="/admin/" title="Restricted area :-)">Administration</a></li>
            <li><a href="mailto:postmaster@ecm.com" title="Contact the administrator">Contact</a></li>
          </ul>
        </div>              
      </div>
      {% block menu %}
      <!-- A.2 HEADER BOTTOM -->
      <div class="header-bottom">
      
        <!-- Navigation Level 2 (Drop-down menus) -->
        <div class="nav2">
	
          <!-- Navigation item -->
          <ul>
            <li><a href="/">Home</a>
              <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                  <li><a href="/corp">Corporation Details</a></li>
                </ul>
              <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
          </ul>
          
          <!-- Navigation item -->
          <ul>
            <li><a href="/members">Members<!--[if IE 7]><!--></a><!--<![endif]-->
              <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                  <li><a href="/members/history">History</a></li>
                  <li><a href="/members/access_changes">Access Changes</a></li>
                </ul>
              <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
          </ul>          

          <!-- Navigation item -->
          <ul>
            <li><a href="/titles">Titles</a>
              <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                  <li><a href="/titles/changes">Changes</a></li>
                </ul>
              <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
          </ul>
          
          <!-- Navigation item -->
          <ul>
            <li><a href="/roles">Roles</a>
              <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                {% for rt in role_types %}
                  <li><a href="/roles/{{ rt.typeName }}">{{ rt.dispName }}</a></li>
                {% endfor %}
                </ul>
              <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
          </ul>

          <!-- Navigation item -->
          <ul>
            <li><a href="/assets">Assets<!--[if IE 7]><!--></a><!--<![endif]-->
              <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                  <li><a href="/assets/changes">Changes</a></li>
                </ul>
              <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
          </ul>    
        </div>
	  </div>
      {% endblock %}
      <!-- A.3 HEADER BREADCRUMBS -->

      <!-- Breadcrumbs -->
      <div class="header-breadcrumbs">
        <ul>
          {% block breadcrumbs %}
          {# insert a list of breadcrumbs here #}
          {% endblock %}
        </ul>
      </div>
 
    </div>

    <!-- B. MAIN -->
    <div class="main">
  
      <!-- B.1 MAIN CONTENT -->
      <div class="main-content">
        <!-- Pagetitle -->
        {% block pagetitle %}{% endblock %}
        {% block main_content %}
        {# main page content here #}
        {% endblock %}
      </div>
    </div>
      
    <!-- C. FOOTER AREA -->      

    <div class="footer">
      <p>Copyright &copy; 2010 diabeteman | All Rights Reserved</p>
      <p class="credits">Design by <a href="http://www.diabeteman.com/">diabeteman</a> | Powered by <a href="http://www.python.org/">Python</a> and <a href="http://www.djangoproject.com/">Django</a></p>
    </div>      
  </div> 
  
</body>
</html>


