<ul id="main-menu">
{% for menu in menus %}
	<li class="{% if menu.url == path %}active{% endif %}{% if menu.url in path and menu.url != '/' %} child-active{% endif %}">
		<a href="{{menu.url}}">{{menu.title}}</a>
		{% if menu.items %}
		<ul>
			{% for item in menu.items %}
			<li class="{% if item.url == path %}active{% endif %}{% if item.url in path %} child-active{% endif %}">
				<a href="{{item.url}}">{{item.title}}</a>
				{% if item.items %}
				<ul>
					{% for subitem in item.items %}
					<li {% if subitem.url == path %}class="active"{% endif %}>
						<a href="{{subitem.url}}">{{subitem.title}}</a>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
{% endfor %}
</ul>
