{%if menus%}<div class="span3" id="main-menu">
  <div class="sidebar-nav well">
    <ul class="nav nav-list">
    {% for menu in menus %}
      <li class="{%if menu.url in path%}child-active{%if menu.url == path%} active{%endif%}{%endif%}">
        <a href="{{menu.url}}">{{menu.title}}</a>
        {% if menu.items %}
        <ul class="nav nav-list">
          {% for item in menu.items %}
          <li class="{%if item.url in path%}child-active{%if item.url == path%} active{%endif%}{%endif%}">
            <a href="{{item.url}}">{{item.title}}</a>
            {% if item.items %}
            <ul class="nav nav-list">
              {% for subitem in item.items %}
              <li {% if subitem.url == path %}class="active"{% endif %}>
                <a href="{{subitem.url}}">{{subitem.title}}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>{%endif%}