{% extends "base.html" %}

{% block headtitle %}Home{% endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
{% endblock %}

{% block main_content %}

<h1 class="pagetitle">{{ corp_name }} <span class="time">- EVE Security Management</span></h1>

<table class="transparent" >
  <tbody>
    <tr>
      <td>
        <h1><a href="/members/history">Last Member Moves</a></h1>
        <ul>
        {% for m in last_member_changes %}
          <li class="{% if m.new %}green{% else %}red{% endif %}">
                               {% if m.url %}
                               <a href="{{ m.url }}">{{ m.name }}</a>
                               {% else %}
                               <span class="bold">{{ m.name }}</span>
                               {% endif %}
            {% if m.nickname %}<span class="italic"> ({{ m.nickname|truncatewords:"5" }})</span>{% endif %}
                               <span class="time"> - {{ m.date_str }}</span></li>
        {% endfor %}
        </ul>
      </td>
      <td>
        <h1><a href="/members/access_changes">Last Access Changes</a></h1>
        <ul>
        {% for a in last_access_changes %}
          <li class="{% if a.new %}green{% else %}red{% endif %}">
                               <a href="{{ a.member_url }}">{{ a.member_name }}</a>
                               <span> {% if a.new %}got{% else %}lost{% endif %} </span>
                               {% if a.title_id %}
                               <a href="/titles/{{ a.title_id }}" class="title">{{ a.title }}</a>
                               {% else %}
                               <a href="/roles/{{ a.role_id }}" class="role">{{ a.role }}</a>
                               {% endif %}
                               <span class="time"> - {{ a.date_str }}</span></li>
        {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
